In [1]:
import pandas as pd
import gc

In [2]:
user_log = pd.read_csv(r'C:\Users\Superstar\Desktop\data_format1\data_format1\user_log_format1.csv').drop_duplicates()
user_log = user_log.dropna(axis=0,how='all')
user_log.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

In [3]:
user_log.isnull().sum()# 检查缺失值

user_id            0
item_id            0
cat_id             0
seller_id          0
brand_id       87405
time_stamp         0
action_type        0
dtype: int64

In [4]:
user_log.brand_id.fillna(user_log.brand_id.mode()[0],inplace=True)# 品牌用众数填充

In [5]:
predict = pd.read_csv(r"C:\Users\Superstar\Desktop\sample_submission.csv")
predict.rename(columns={'merchant_id':'seller_id'},inplace = True)
predict.head()

   user_id  seller_id  prob
0   163968       4605   0.5
1   360576       1581   0.5
2    98688       1964   0.5
3    98688       3645   0.5
4   295296       3361   0.5

In [6]:
test = pd.merge(user_log,predict,how='left',on=['user_id','seller_id'])
test.head()

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,prob
0,328862,323294,833,2882,2661.0,829,0,NaN
1,328862,844400,1271,2882,2661.0,829,0,NaN
2,328862,575153,1271,2882,2661.0,829,0,NaN
3,328862,996875,1271,2882,2661.0,829,0,NaN
4,328862,1086186,1271,1253,1049.0,829,0,NaN

###################################新加入

In [7]:
test.dropna(axis=0,how='any',inplace=True)
del test['prob']
test.head()

     user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
147   328862   406349    1280       2700    5476.0        1111            0
149   328862   406349    1280       2700    5476.0        1111            2
497   272389  1112375    1112       4186    6035.0        1111            0
498   272389  1070749    1112       4186    6035.0        1111            0
499   272389  1112375    1112       4186    6035.0        1111            2

In [8]:
test['train_test']='test'

In [9]:
test.shape

(1792412, 8)

########################################

In [11]:
user_info = pd.read_csv(r'C:\Users\Superstar\Desktop\data_format1\data_format1\user_info_format1.csv')
user_info = user_info.dropna(axis=0,how='all')
user_info.head()
print(user_info.shape)

(424170, 3)

In [12]:
user_info.isnull().sum()#检查缺失值

user_id         0
age_range    2217
gender       6436
dtype: int64

In [13]:
user_info.gender.fillna(user_info.gender.mode()[0],inplace=True)# 性别用众数填充
user_info.age_range.fillna(user_info.age_range.median(),inplace=True)# 年龄用中位数填充

In [14]:
# train = pd.read_csv(r'C:\Users\Superstar\Desktop\data_format1\data_format1\train_format1.csv')
# train = train.drop_duplicates(['user_id','merchant_id'])
# train.head()

In [15]:
# test = pd.read_csv(r'C:\Users\Superstar\Desktop\data_format1\data_format1\test_format1.csv')
# test = test.drop_duplicates(['user_id','merchant_id'])
# test.head()

In [16]:
eta = 0.1 #取样比例
user_log = user_log.sample(int(len(user_log)*eta))
user_log['train_test']='train'
user_log = pd.concat([user_log,test],axis=0)

In [17]:
user_log = user_log.merge(user_info, on=['user_id'],how='left',copy=False)

In [18]:
user_log.shape

(5909925, 10)

In [19]:

# user_log['month'] = user_log['time_stamp']//100
# user_log['day'] = user_log['time_stamp']%100
#--------------zyy -----------------

#--------------zyy -----------------
print(user_log.shape[0])
user_log.head()

5909925

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,train_test,age_range,gender
0,66912,203092,1095,3125,7118.0,1110,0,train,5.0,0.0
1,66632,461173,737,4564,1803.0,1103,0,train,3.0,1.0
2,122117,1018773,737,82,2971.0,807,0,train,0.0,0.0
3,173592,383058,1113,1358,966.0,604,0,train,3.0,0.0
4,381740,927745,302,3546,3939.0,1013,0,train,0.0,0.0

In [20]:
df_age = pd.get_dummies(user_info.age_range,prefix='age')# 对age进行哑编码
df_gender = pd.get_dummies(user_info.gender)# 对gender进行哑编码
df_gender.rename(columns={0:'female',1:'male',2:'unknown'},inplace=True)
user_info = pd.concat([user_info.user_id, df_age, df_gender], axis=1)
user_info.head()

,user_id,age_0.0,age_1.0,age_2.0,age_3.0,age_4.0,age_5.0,age_6.0,age_7.0,age_8.0,female,male,unknown
0,376517,0,0,0,0,0,0,1,0,0,0,1,0
1,234512,0,0,0,0,0,1,0,0,0,1,0,0
2,344532,0,0,0,0,0,1,0,0,0,1,0,0
3,186135,0,0,0,0,0,1,0,0,0,1,0,0
4,30230,0,0,0,0,0,1,0,0,0,1,0,0

In [21]:
user_log.shape

(5909925, 10)

In [22]:
#采用onehot编码统计用户交互情况
total_action = user_log[["user_id","action_type"]]
action = pd.get_dummies(total_action['action_type'],prefix='user_action')
action.head()

   user_action_0  user_action_1  user_action_2  user_action_3
0              1              0              0              0
1              1              0              0              0
2              1              0              0              0
3              1              0              0              0
4              1              0              0              0

In [23]:
#统计用户点击、加入购物车、购买、加入收藏夹次数
total_action = pd.concat([total_action.user_id,action], axis=1).groupby(['user_id'], as_index=False).sum()

total_action.head()

   user_id  user_action_0  user_action_1  user_action_2  user_action_3
0        1            2.0            0.0            0.0            0.0
1        2            6.0            0.0            3.0            1.0
2        3            5.0            0.0            2.0            2.0
3        4            3.0            0.0            0.0            0.0
4        5           12.0            0.0            2.0            3.0

In [24]:
#总次数
total_action['total_action'] = total_action['user_action_0']+total_action['user_action_1']+total_action['user_action_2']+total_action['user_action_3']
total_action.head()

,user_id,user_action_0,user_action_1,user_action_2,user_action_3,total_action
0,1,2.0,0.0,0.0,0.0,2.0
1,2,6.0,0.0,3.0,1.0,10.0
2,3,5.0,0.0,2.0,2.0,9.0
3,4,3.0,0.0,0.0,0.0,3.0
4,5,12.0,0.0,2.0,3.0,17.0

In [25]:
total_action.shape[0]

412614

In [26]:
user_info = pd.merge(user_log,total_action,how='left',on=['user_id'])
#-------------------zyy
del action
gc.collect()
#-------------------zyy
user_info.head()

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,train_test,age_range,gender,user_action_0,user_action_1,user_action_2,user_action_3,total_action
0,66912,203092,1095,3125,7118.0,1110,0,train,5.0,0.0,11.0,0.0,1.0,1.0,13.0
1,66632,461173,737,4564,1803.0,1103,0,train,3.0,1.0,18.0,0.0,2.0,0.0,20.0
2,122117,1018773,737,82,2971.0,807,0,train,0.0,0.0,9.0,0.0,1.0,2.0,12.0
3,173592,383058,1113,1358,966.0,604,0,train,3.0,0.0,45.0,0.0,5.0,22.0,72.0
4,381740,927745,302,3546,3939.0,1013,0,train,0.0,0.0,16.0,0.0,2.0,0.0,18.0

In [28]:
user_info.shape

(5909925, 15)

In [31]:
item_num = user_log.groupby(['user_id'])['item_id'].nunique()#商品数量
cat_num = user_log.groupby(['user_id'])['cat_id'].nunique()#交互次数
seller_num = user_log.groupby(['user_id'])['seller_id'].nunique()#商店数量
brand_num = user_log.groupby(['user_id'])['brand_id'].nunique()#品牌数量
time_num = user_log.groupby(['user_id'])['time_stamp'].nunique()#做出交互的天数
info = pd.concat([item_num,cat_num,seller_num,brand_num,time_num],axis=1)
info.rename(columns={'item_id':'item_num','cat_id':'cat_num','seller_id':'seller_num','brand_id':'brand_num','time_stamp':'time_num'},inplace=True)
del item_num,cat_num,seller_num,brand_num,time_num
#-----------------------zyy
gc.collect()
#-----------------------zyy
info.head()

         item_num  cat_num  seller_num  brand_num  time_num
user_id
1               2        1           2          2         1
2              10        7           6          6         4
3               5        5           3          3         3
4               3        3           3          3         3
5              15       11          11         12        10

In [32]:
info.reset_index(inplace=True)
info.head()

   user_id  item_num  cat_num  seller_num  brand_num  time_num
0        1         2        1           2          2         1
1        2        10        7           6          6         4
2        3         5        5           3          3         3
3        4         3        3           3          3         3
4        5        15       11          11         12        10

In [33]:
info.shape

(412614, 6)

In [34]:
user_info = pd.merge(user_info,info,how='left',on=['user_id'])
del info
#--------------------zyy
gc.collect()
#--------------------zyy
user_info.head()

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,train_test,age_range,gender,user_action_0,user_action_1,user_action_2,user_action_3,total_action,item_num,cat_num,seller_num,brand_num,time_num
0,66912,203092,1095,3125,7118.0,1110,0,train,5.0,0.0,11.0,0.0,1.0,1.0,13.0,13,8,4,4,3
1,66632,461173,737,4564,1803.0,1103,0,train,3.0,1.0,18.0,0.0,2.0,0.0,20.0,18,12,11,11,5
2,122117,1018773,737,82,2971.0,807,0,train,0.0,0.0,9.0,0.0,1.0,2.0,12.0,11,7,10,10,6
3,173592,383058,1113,1358,966.0,604,0,train,3.0,0.0,45.0,0.0,5.0,22.0,72.0,70,35,50,52,43
4,381740,927745,302,3546,3939.0,1013,0,train,0.0,0.0,16.0,0.0,2.0,0.0,18.0,13,10,11,11,12

In [36]:
user_info.shape

(5909925, 20)

In [37]:
user_info.isnull().sum()

user_id          0
item_id          0
cat_id           0
seller_id        0
brand_id         0
time_stamp       0
action_type      0
train_test       0
age_range        0
gender           0
user_action_0    0
user_action_1    0
user_action_2    0
user_action_3    0
total_action     0
item_num         0
cat_num          0
seller_num       0
brand_num        0
time_num         0
dtype: int64

In [38]:
#创建seller特征的dataframe
seller_info = user_log[['seller_id']]
seller_info.head()

   seller_id
0       3125
1       4564
2         82
3       1358
4       3546

In [39]:
#提取商店特征
seller_action = pd.get_dummies(user_log['action_type'],prefix='seller_action')
seller_action = pd.concat([user_log.seller_id, seller_action], axis=1).groupby(['seller_id'], as_index=False).sum()
seller_action.head()

,seller_id,seller_action_0,seller_action_1,seller_action_2,seller_action_3
0,1,22480.0,38.0,1601.0,1320.0
1,2,233.0,2.0,74.0,19.0
2,3,191.0,1.0,6.0,20.0
3,4,199.0,1.0,28.0,13.0
4,5,564.0,0.0,13.0,58.0

In [40]:
#总次数
seller_action['total_action_seller'] = seller_action.sum(axis = 1)
seller_action.head()

,seller_id,seller_action_0,seller_action_1,seller_action_2,seller_action_3,total_action_seller
0,1,22480.0,38.0,1601.0,1320.0,25440.0
1,2,233.0,2.0,74.0,19.0,330.0
2,3,191.0,1.0,6.0,20.0,221.0
3,4,199.0,1.0,28.0,13.0,245.0
4,5,564.0,0.0,13.0,58.0,640.0

In [41]:
seller_info.shape

(5909925, 1)

In [42]:
seller_info = pd.merge(seller_info,seller_action,how='left',on=['seller_id'])
seller_info.head()
#------------------zyy
del seller_action
gc.collect()
#------------------zyy

40

In [43]:
seller_info.isnull().sum()

seller_id              0
seller_action_0        0
seller_action_1        0
seller_action_2        0
seller_action_3        0
total_action_seller    0
dtype: int64

In [44]:
seller_info.shape

(5909925, 6)

In [45]:
item_num = user_log.groupby(['seller_id'])['item_id'].nunique()#商品数量
cat_num = user_log.groupby(['seller_id'])['cat_id'].nunique()#交互次数
brand_num = user_log.groupby(['seller_id'])['brand_id'].nunique()#品牌数量
time_num = user_log.groupby(['seller_id'])['time_stamp'].nunique()#做出交互的天数
info = pd.concat([item_num,cat_num,brand_num,time_num],axis=1)
info.rename(columns={'item_id':'item_num_seller','cat_id':'cat_num_seller','brand_id':'brand_num_seller','time_stamp':'time_num_seller'},inplace=True)
info.reset_index(inplace = True)
#------------------zyy
print(info.head())
del item_num, cat_num, brand_num, time_num
gc.collect()
#------------------zyy

   seller_id  item_num_seller  cat_num_seller  brand_num_seller  \
0          1             2306              35                 3
1          2               73               8                 2
2          3               62               4                 2
3          4               64               5                 3
4          5              205              18                 1

   time_num_seller
0              185
1               77
2               83
3              119
4              159

0

In [46]:
seller_info = pd.merge(seller_info,info,how='left',on=['seller_id'])
del info
#-------------------zyy
gc.collect()
#-------------------zyy
seller_info.head()

(5909925, 10)

In [47]:
seller_info.isnull().sum()

seller_id              0
seller_action_0        0
seller_action_1        0
seller_action_2        0
seller_action_3        0
total_action_seller    0
item_num_seller        0
cat_num_seller         0
brand_num_seller       0
time_num_seller        0
dtype: int64

In [48]:
#提取用户-商家特征
user_seller_log = pd.read_csv(r'C:\Users\Superstar\Desktop\data_format1\data_format1\train_format1.csv')
#-------------------zyy
# user_seller_log = user_seller_log.sample(int(len(user_seller_log)*eta))
#-------------------zyy
user_seller_log.head()

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [49]:
user_seller_log.shape

(260864, 3)

In [50]:
user_seller_log.rename(columns={'merchant_id':'seller_id'},inplace = True)
user_seller_log = pd.merge(user_seller_log, user_log, on=['seller_id','user_id'])
user_seller_log.head()

,user_id,seller_id,label,item_id,cat_id,brand_id,time_stamp,action_type,train_test,age_range,gender
0,34176,3906,0,320263,662,6268.0,1027,0,train,6.0,0.0
1,34176,3906,0,757713,821,6268.0,1111,0,train,6.0,0.0
2,34176,121,0,800752,1028,2337.0,1108,0,train,6.0,0.0
3,34176,4356,1,709909,1208,2276.0,1110,0,train,6.0,0.0
4,34176,4356,1,709909,1208,2276.0,1111,2,train,6.0,0.0

In [51]:
user_seller_info = user_seller_log[['user_id','seller_id']]
action = pd.get_dummies(user_seller_log['action_type'],prefix='user_seller_action')
user_seller_info = pd.concat([user_seller_info, action], axis=1).groupby(['user_id', 'seller_id'], as_index=False).sum()
#-----------------zyy
# 此处不用清除数据
#-----------------zyy
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3
0,6,4249,1,0,0,0
1,9,2721,1,0,1,0
2,14,361,2,0,0,1
3,16,1435,1,0,0,0
4,18,4079,1,0,0,0

In [52]:
user_seller_info['total_action'] = user_seller_info['user_seller_action_0'] + user_seller_info['user_seller_action_1'] + user_seller_info['user_seller_action_2'] + user_seller_info['user_seller_action_3']
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3,total_action
0,6,4249,1,0,0,0,1
1,9,2721,1,0,1,0,2
2,14,361,2,0,0,1,3
3,16,1435,1,0,0,0,1
4,18,4079,1,0,0,0,1

In [53]:
user_seller_info.shape

(101185, 7)

In [54]:
# 点击量
num = user_seller_log[user_seller_log.action_type == 0]
item_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.item_id.nunique()).reset_index()
cat_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.cat_id.nunique()).reset_index()
brand_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.brand_id.nunique()).reset_index()
item_num.rename(columns={0:'item_number_0'},inplace=True)
cat_num.rename(columns={0:'cat_number_0'},inplace=True)
brand_num.rename(columns={0:'brand_number_0'},inplace=True)
user_seller_info = pd.merge(user_seller_info,item_num,how='left',on=['user_id', 'seller_id'])
user_seller_info = pd.merge(user_seller_info,cat_num,how='left',on=['user_id','seller_id'])
user_seller_info = pd.merge(user_seller_info,brand_num,how='left',on=['user_id','seller_id'])
user_seller_info.item_number_0.fillna(0,inplace = True)
user_seller_info.cat_number_0.fillna(0,inplace = True)
user_seller_info.brand_number_0.fillna(0,inplace = True)
del num,item_num,cat_num,brand_num
gc.collect()
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3,total_action,item_number_0,cat_number_0,brand_number_0
0,6,4249,1,0,0,0,1,1.0,1.0,1.0
1,9,2721,1,0,1,0,2,1.0,1.0,1.0
2,14,361,2,0,0,1,3,2.0,1.0,1.0
3,16,1435,1,0,0,0,1,1.0,1.0,1.0
4,18,4079,1,0,0,0,1,1.0,1.0,1.0

In [55]:
# 加入购物车的数量
num = user_seller_log[user_seller_log.action_type == 1]
item_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.item_id.nunique()).reset_index()
cat_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.cat_id.nunique()).reset_index()
brand_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.brand_id.nunique()).reset_index()
item_num.rename(columns={0:'item_number_1'},inplace=True)
cat_num.rename(columns={0:'cat_number_1'},inplace=True)
brand_num.rename(columns={0:'brand_number_1'},inplace=True)
user_seller_info = pd.merge(user_seller_info,item_num,how='left',on=['user_id', 'seller_id'])
user_seller_info = pd.merge(user_seller_info,cat_num,how='left',on=['user_id','seller_id'])
user_seller_info = pd.merge(user_seller_info,brand_num,how='left',on=['user_id','seller_id'])
user_seller_info.item_number_1.fillna(0,inplace = True)
user_seller_info.cat_number_1.fillna(0,inplace = True)
user_seller_info.brand_number_1.fillna(0,inplace = True)
del num,item_num,cat_num,brand_num
gc.collect()
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3,total_action,item_number_0,cat_number_0,brand_number_0,item_number_1,cat_number_1,brand_number_1
0,6,4249,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0
1,9,2721,1,0,1,0,2,1.0,1.0,1.0,0.0,0.0,0.0
2,14,361,2,0,0,1,3,2.0,1.0,1.0,0.0,0.0,0.0
3,16,1435,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0
4,18,4079,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0

In [56]:
# 购买量
num = user_seller_log[user_seller_log.action_type == 2]
item_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.item_id.nunique()).reset_index()
cat_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.cat_id.nunique()).reset_index()
brand_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.brand_id.nunique()).reset_index()
item_num.rename(columns={0:'item_number_2'},inplace=True)
cat_num.rename(columns={0:'cat_number_2'},inplace=True)
brand_num.rename(columns={0:'brand_number_2'},inplace=True)
user_seller_info = pd.merge(user_seller_info,item_num,how='left',on=['user_id', 'seller_id'])
user_seller_info = pd.merge(user_seller_info,cat_num,how='left',on=['user_id','seller_id'])
user_seller_info = pd.merge(user_seller_info,brand_num,how='left',on=['user_id','seller_id'])
user_seller_info.item_number_2.fillna(0,inplace = True)
user_seller_info.cat_number_2.fillna(0,inplace = True)
user_seller_info.brand_number_2.fillna(0,inplace = True)
del num,item_num,cat_num,brand_num
gc.collect()
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3,total_action,item_number_0,cat_number_0,brand_number_0,item_number_1,cat_number_1,brand_number_1,item_number_2,cat_number_2,brand_number_2
0,6,4249,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,2721,1,0,1,0,2,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
2,14,361,2,0,0,1,3,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,16,1435,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,18,4079,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
# 收藏量
num = user_seller_log[user_seller_log.action_type == 3]
item_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.item_id.nunique()).reset_index()
cat_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.cat_id.nunique()).reset_index()
brand_num = num.groupby(['user_id', 'seller_id']).apply(lambda x:x.brand_id.nunique()).reset_index()
item_num.rename(columns={0:'item_number_3'},inplace=True)
cat_num.rename(columns={0:'cat_number_3'},inplace=True)
brand_num.rename(columns={0:'brand_number_3'},inplace=True)
user_seller_info = pd.merge(user_seller_info,item_num,how='left',on=['user_id', 'seller_id'])
user_seller_info = pd.merge(user_seller_info,cat_num,how='left',on=['user_id','seller_id'])
user_seller_info = pd.merge(user_seller_info,brand_num,how='left',on=['user_id','seller_id'])
user_seller_info.item_number_3.fillna(0,inplace = True)
user_seller_info.cat_number_3.fillna(0,inplace = True)
user_seller_info.brand_number_3.fillna(0,inplace = True)
del num,item_num,cat_num,brand_num
gc.collect()
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3,total_action,item_number_0,cat_number_0,brand_number_0,item_number_1,cat_number_1,brand_number_1,item_number_2,cat_number_2,brand_number_2,item_number_3,cat_number_3,brand_number_3
0,6,4249,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,2721,1,0,1,0,2,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
2,14,361,2,0,0,1,3,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,16,1435,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,18,4079,1,0,0,0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
user_seller_info=user_seller_info.astype('int32')
user_seller_info.head()

,user_id,seller_id,user_seller_action_0,user_seller_action_1,user_seller_action_2,user_seller_action_3,total_action,item_number_0,cat_number_0,brand_number_0,item_number_1,cat_number_1,brand_number_1,item_number_2,cat_number_2,brand_number_2,item_number_3,cat_number_3,brand_number_3
0,6,4249,1,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0
1,9,2721,1,0,1,0,2,1,1,1,0,0,0,1,1,1,0,0,0
2,14,361,2,0,0,1,3,2,1,1,0,0,0,0,0,0,1,1,1
3,16,1435,1,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0
4,18,4079,1,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0

In [64]:
user_info

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,train_test,age_range,gender,user_action_0,user_action_1,user_action_2,user_action_3,total_action,item_num,cat_num,seller_num,brand_num,time_num
0,66912,203092,1095,3125,7118.0,1110,0,train,5.0,0.0,11.0,0.0,1.0,1.0,13.0,13,8,4,4,3
1,66632,461173,737,4564,1803.0,1103,0,train,3.0,1.0,18.0,0.0,2.0,0.0,20.0,18,12,11,11,5
2,122117,1018773,737,82,2971.0,807,0,train,0.0,0.0,9.0,0.0,1.0,2.0,12.0,11,7,10,10,6
3,173592,383058,1113,1358,966.0,604,0,train,3.0,0.0,45.0,0.0,5.0,22.0,72.0,70,35,50,52,43
4,381740,927745,302,3546,3939.0,1013,0,train,0.0,0.0,16.0,0.0,2.0,0.0,18.0,13,10,11,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909920,128038,449243,664,2537,6066.0,1111,0,test,2.0,0.0,11.0,0.0,3.0,1.0,15.0,7,4,3,3,2
5909921,128038,84914,664,2537,6066.0,1111,0,test,2.0,0.0,11.0,0.0,3.0,1.0,15.0,7,4,3,3,2
5909922,128038,449243,664,2537,6066.0,1111,2,test,2.0,0.0,11.0,0.0,3.0,1.0,15.0,7,4,3,3,2
5909923,128038,1022583,883,2031,2446.0,1111,2,test,2.0,0.0,11.0,0.0,3.0,1.0,15.0,7,4,3,3,2
5909924,128038,1083994,748,2002,3940.0,1111,2,test,2.0,0.0,11.0,0.0,3.0,1.0,15.0,7,4,3,3,2

In [65]:
# data = pd.merge(user_log,user_info,how='left',on=['user_id'])
# data.head()
data = user_info

In [66]:
del user_info,user_log # 释放一点内存。
gc.collect()

40

In [67]:
seller_info=seller_info.astype('int32')

In [68]:
seller_info.head(10)

,seller_id,seller_action_0,seller_action_1,seller_action_2,seller_action_3,total_action_seller,item_num_seller,cat_num_seller,brand_num_seller,time_num_seller
0,3125,1150,1,23,44,4343,502,42,2,135
1,4564,436,1,99,57,5157,53,3,2,147
2,82,531,0,25,45,683,100,5,1,152
3,1358,297,0,68,46,1769,50,15,2,114
4,3546,329,1,52,28,3956,86,10,2,111
5,1379,789,3,315,43,2529,256,59,19,154
6,3877,1477,2,82,104,5542,218,5,2,179
7,1967,4512,2,116,220,6817,1309,45,13,162
8,1941,363,0,26,21,2351,66,12,1,124
9,2693,729,1,98,53,3574,76,10,2,126

In [69]:
data.head(10)

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,train_test,age_range,gender,user_action_0,user_action_1,user_action_2,user_action_3,total_action,item_num,cat_num,seller_num,brand_num,time_num
0,66912,203092,1095,3125,7118.0,1110,0,train,5.0,0.0,11.0,0.0,1.0,1.0,13.0,13,8,4,4,3
1,66632,461173,737,4564,1803.0,1103,0,train,3.0,1.0,18.0,0.0,2.0,0.0,20.0,18,12,11,11,5
2,122117,1018773,737,82,2971.0,807,0,train,0.0,0.0,9.0,0.0,1.0,2.0,12.0,11,7,10,10,6
3,173592,383058,1113,1358,966.0,604,0,train,3.0,0.0,45.0,0.0,5.0,22.0,72.0,70,35,50,52,43
4,381740,927745,302,3546,3939.0,1013,0,train,0.0,0.0,16.0,0.0,2.0,0.0,18.0,13,10,11,11,12
5,259489,69252,159,1379,7528.0,1111,2,train,4.0,0.0,26.0,1.0,1.0,1.0,29.0,29,18,15,16,16
6,125815,892966,1238,3877,3213.0,1030,0,train,6.0,0.0,22.0,0.0,1.0,0.0,23.0,21,7,10,10,15
7,94709,1104951,1095,1967,5214.0,1105,0,train,5.0,0.0,23.0,0.0,2.0,1.0,26.0,25,19,20,21,16
8,12090,895411,351,1941,4239.0,723,0,train,3.0,0.0,56.0,0.0,2.0,1.0,59.0,57,31,32,35,23
9,303604,974683,821,2693,6581.0,901,0,train,4.0,1.0,15.0,0.0,1.0,3.0,19.0,17,10,15,13,9

In [70]:
seller_info.shape

(5909925, 10)

In [71]:
data.shape

(5909925, 20)

In [72]:
user_seller_info.shape

(101185, 19)

In [73]:
# for i in range(10):
#     data = pd.merge(data,seller_info.iloc[:,i],how='left',on=["seller_id"])
# data.head()
data = data.merge(user_seller_info,how="left",on=["seller_id","user_id"])

In [74]:
data.head()

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,train_test,age_range,gender,...,brand_number_0,item_number_1,cat_number_1,brand_number_1,item_number_2,cat_number_2,brand_number_2,item_number_3,cat_number_3,brand_number_3
0,66912,203092,1095,3125,7118.0,1110,0,train,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66632,461173,737,4564,1803.0,1103,0,train,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,122117,1018773,737,82,2971.0,807,0,train,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,173592,383058,1113,1358,966.0,604,0,train,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,381740,927745,302,3546,3939.0,1013,0,train,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
data['brand_id'] = data['brand_id'].astype('int32') 
data['age_range'] = data['age_range'].astype('int32') 
data['gender'] = data['gender'].astype('int32')

NameError: name 'df' is not defined

In [78]:
data.shape

(5909925, 37)

In [77]:
data.isnull().sum()

user_id                       0
item_id                       0
cat_id                        0
seller_id                     0
brand_id                      0
time_stamp                    0
action_type                   0
train_test                    0
age_range                     0
gender                        0
user_action_0                 0
user_action_1                 0
user_action_2                 0
user_action_3                 0
total_action_x                0
item_num                      0
cat_num                       0
seller_num                    0
brand_num                     0
time_num                      0
user_seller_action_0    5731706
user_seller_action_1    5731706
user_seller_action_2    5731706
user_seller_action_3    5731706
total_action_y          5731706
item_number_0           5731706
cat_number_0            5731706
brand_number_0          5731706
item_number_1           5731706
cat_number_1            5731706
brand_number_1          5731706
item_number_2           5731706
cat_number_2            5731706
brand_number_2          5731706
item_number_3           5731706
cat_number_3            5731706
brand_number_3          5731706
dtype: int64

In [75]:
data = data.dropna(axis=0,how='any')# 去除含nan的行

MemoryError: Unable to allocate 1.10 GiB for an array with shape (25, 5909925) and data type float64

In [59]:
data.shape

(534595, 48)

In [60]:
seller_info.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
14144946     True
14144947     True
14144948     True
14144949     True
14144950     True
Length: 14144951, dtype: bool

In [61]:
seller_info = seller_info.drop_duplicates()

In [62]:
seller_info.shape

(4995, 10)

In [63]:
data = data.merge(seller_info,how="left",on=["seller_id"])

In [64]:
print(data.head())

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type  \
0   127994   470444     748       1102      1214        1031            0
1   246788   732624    1181       4729       843        1106            3
2   216253   476470    1095       4219      6887        1106            0
3   219676   259310    1467       3578      3091        1101            0
4   384784   533925    1553       3828      1446        1025            3

   age_range  gender  age_0.0  ...  brand_number_3  seller_action_0  \
0          0       0        1  ...             0.0           147988
1          5       0        0  ...             1.0             2983
2          3       0        0  ...             1.0             1873
3          6       0        0  ...             1.0            19643
4          2       0        0  ...             1.0           205935

   seller_action_1  seller_action_2  seller_action_3  total_action_seller  \
0              121             7064            13522               169797
1                8              146              177                 8043
2                7              211              168                 6478
3               51             2637             1649                27558
4              422             9887            16325               236397

   item_num_seller  cat_num_seller  brand_num_seller  time_num_seller
0             3426              37                 2              185
1              495              33                 2              160
2              262               8                 2              167
3              601               6                 2              182
4             4209              53                 2              185

[5 rows x 57 columns]

In [65]:
data = data.drop_duplicates()

In [66]:
train = pd.read_csv(r"C:\Users\Superstar\Desktop\data_format1\data_format1\train_format1.csv").drop_duplicates()
train.head()

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [67]:
train.rename(columns={'merchant_id':'seller_id'},inplace=True)

In [68]:
data = pd.merge(data,train,how='left',on=['user_id','seller_id'])

In [69]:
data.head()

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,age_0.0,...,seller_action_0,seller_action_1,seller_action_2,seller_action_3,total_action_seller,item_num_seller,cat_num_seller,brand_num_seller,time_num_seller,label
0,127994,470444,748,1102,1214,1031,0,0,0,1,...,147988,121,7064,13522,169797,3426,37,2,185,0
1,246788,732624,1181,4729,843,1106,3,5,0,0,...,2983,8,146,177,8043,495,33,2,160,0
2,216253,476470,1095,4219,6887,1106,0,3,0,0,...,1873,7,211,168,6478,262,8,2,167,0
3,219676,259310,1467,3578,3091,1101,0,6,0,0,...,19643,51,2637,1649,27558,601,6,2,182,1
4,384784,533925,1553,3828,1446,1025,3,2,0,0,...,205935,422,9887,16325,236397,4209,53,2,185,0

In [70]:
data.shape

(534595, 58)

In [71]:
data.isnull().sum()

user_id                 0
item_id                 0
cat_id                  0
seller_id               0
brand_id                0
time_stamp              0
action_type             0
age_range               0
gender                  0
age_0.0                 0
age_1.0                 0
age_2.0                 0
age_3.0                 0
age_4.0                 0
age_5.0                 0
age_6.0                 0
age_7.0                 0
age_8.0                 0
female                  0
male                    0
unknown                 0
user_action_0           0
user_action_1           0
user_action_2           0
user_action_3           0
total_action_x          0
item_num                0
cat_num                 0
seller_num              0
brand_num               0
time_num                0
user_seller_action_0    0
user_seller_action_1    0
user_seller_action_2    0
user_seller_action_3    0
total_action_y          0
item_number_0           0
cat_number_0            0
brand_number_0          0
item_number_1           0
cat_number_1            0
brand_number_1          0
item_number_2           0
cat_number_2            0
brand_number_2          0
item_number_3           0
cat_number_3            0
brand_number_3          0
seller_action_0         0
seller_action_1         0
seller_action_2         0
seller_action_3         0
total_action_seller     0
item_num_seller         0
cat_num_seller          0
brand_num_seller        0
time_num_seller         0
label                   0
dtype: int64

In [72]:
import numpy as np
import xgboost as xgb
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [73]:
x = data.loc[:,data.columns != 'label']
y = data.loc[:,data.columns == 'label']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.15, random_state = 2021)

In [74]:
del x_train['user_id'],x_train['seller_id'],x_test['user_id'],x_test['seller_id']

In [75]:
x_test

,item_id,cat_id,brand_id,time_stamp,action_type,age_range,gender,age_0.0,age_1.0,age_2.0,...,brand_number_3,seller_action_0,seller_action_1,seller_action_2,seller_action_3,total_action_seller,item_num_seller,cat_num_seller,brand_num_seller,time_num_seller
144316,610288,1130,2014,1111,0,5,0,0,0,0,...,0.0,6820,10,617,335,12262,260,9,2,182
274838,510392,1271,6987,1111,2,0,0,1,0,0,...,0.0,1619,2,97,122,3383,322,8,9,178
308625,553331,800,5313,1111,2,2,0,0,0,1,...,1.0,1471,6,597,244,3047,24,8,2,166
297307,105272,154,6143,920,3,3,0,0,0,0,...,1.0,70526,190,4992,6738,87422,701,21,2,185
409670,843822,737,3894,1110,0,3,0,0,0,0,...,0.0,1274,0,131,180,3585,97,1,1,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125401,246167,1606,3776,1106,0,0,0,1,0,0,...,1.0,13425,62,1800,1028,18984,202,30,2,182
214238,483298,656,801,1110,0,4,0,0,0,0,...,0.0,24139,28,1321,1838,27763,885,9,3,185
123262,599466,649,1847,1106,0,0,0,1,0,0,...,0.0,13032,37,2891,1259,20173,158,33,7,184
267779,772645,1368,7622,1103,0,2,0,0,0,1,...,0.0,12057,22,2896,1279,20859,201,27,2,185
350846,359508,308,3700,1110,0,3,0,0,0,0,...,0.0,12729,30,1423,580,15708,412,8,3,185

In [76]:
def xgb_train(x_train,y_train,x_test,y_test,verbose=True):
#      Min_child_weight = [100,150,200,250,300,350,400,450,500]
#      Colsample_bytree = [0.6,0.65,0.7,0.75,0.8,0.85,0.9]
#      Eta = [0.1,0.15,0.2,0.25,0.3,0.35,0.4]
#      best_score=0
#      best_child = 0
#      best_col = 0
#      best_eta = 0
#      for i in Min_child_weight:
#          for j in Colsample_bytree:
#              for k in Eta:
    model_xgb = xgb.XGBClassifier(
        max_depth=12,# raw8
        n_estimators=1000,
        min_child_weight=200,#400
        colsample_bytree=0.75,#0.84
        subsample=0.8,
        eta=0.1,#0.3
        tree_method='gpu_hist',
        seed=2021
        #colsample_bylevel=i,
        #colsample_bynode=i
    )

    model_xgb.fit(
        x_train,
        y_train,
        eval_metric='auc',
        eval_set=[(x_train,y_train),(x_test,y_test)],
        verbose=verbose,
        early_stopping_rounds=15#早停法，如果auc在10epoch没有进步就stop

    )
    # print("min_child_weight:",i," colsample_bytree:",j," eta:",k)
    print(model_xgb.best_score)
                # if model_xgb.best_score > best_score:
                #     best_score = model_xgb.best_score
                #     best_child = i
                #     best_col = j
                #     best_eta = k
    return model_xgb
xgb_train(x_train,y_train,x_test,y_test)

C:\Users\Superstar\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\Superstar\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[0]	validation_0-auc:0.71322	validation_1-auc:0.70959
[1]	validation_0-auc:0.73328	validation_1-auc:0.72542
[2]	validation_0-auc:0.73823	validation_1-auc:0.72859
[3]	validation_0-auc:0.74401	validation_1-auc:0.73305
[4]	validation_0-auc:0.74674	validation_1-auc:0.73576
[5]	validation_0-auc:0.74829	validation_1-auc:0.73736
[6]	validation_0-auc:0.75035	validation_1-auc:0.73958
[7]	validation_0-auc:0.75226	validation_1-auc:0.74128
[8]	validation_0-auc:0.75403	validation_1-auc:0.74267
[9]	validation_0-auc:0.75496	validation_1-auc:0.74406
[10]	validation_0-auc:0.75650	validation_1-auc:0.74557
[11]	validation_0-auc:0.75721	validation_1-auc:0.74674
[12]	validation_0-auc:0.75864	validation_1-auc:0.74765
[13]	validation_0-auc:0.75976	validation_1-auc:0.74849
[14]	validation_0-auc:0.76063	validation_1-auc:0.74909
[15]	validation_0-auc:0.76051	validation_1-auc:0.74902
[16]	validation_0-auc:0.76120	validation_1-auc:0.74944
[17]	validation_0-auc:0.76188	validation_1-auc:0.74995
[18]	validation_0-auc:0.76275	validation_1-auc:0.75071
[19]	validation_0-auc:0.76402	validation_1-auc:0.75227
[20]	validation_0-auc:0.76449	validation_1-auc:0.75260
[21]	validation_0-auc:0.76513	validation_1-auc:0.75328
[22]	validation_0-auc:0.76568	validation_1-auc:0.75363
[23]	validation_0-auc:0.76626	validation_1-auc:0.75404
[24]	validation_0-auc:0.76728	validation_1-auc:0.75487
[25]	validation_0-auc:0.76733	validation_1-auc:0.75514
[26]	validation_0-auc:0.76826	validation_1-auc:0.75611
[27]	validation_0-auc:0.76913	validation_1-auc:0.75690
[28]	validation_0-auc:0.77065	validation_1-auc:0.75806
[29]	validation_0-auc:0.77205	validation_1-auc:0.75956
[30]	validation_0-auc:0.77265	validation_1-auc:0.76020
[31]	validation_0-auc:0.77396	validation_1-auc:0.76132
[32]	validation_0-auc:0.77512	validation_1-auc:0.76225
[33]	validation_0-auc:0.77626	validation_1-auc:0.76337
[34]	validation_0-auc:0.77747	validation_1-auc:0.76452
[35]	validation_0-auc:0.77790	validation_1-auc:0.76513
[36]	validation_0-auc:0.77920	validation_1-auc:0.76604
[37]	validation_0-auc:0.77976	validation_1-auc:0.76673
[38]	validation_0-auc:0.78085	validation_1-auc:0.76774
[39]	validation_0-auc:0.78152	validation_1-auc:0.76839
[40]	validation_0-auc:0.78216	validation_1-auc:0.76880
[41]	validation_0-auc:0.78307	validation_1-auc:0.76945
[42]	validation_0-auc:0.78360	validation_1-auc:0.76998
[43]	validation_0-auc:0.78484	validation_1-auc:0.77113
[44]	validation_0-auc:0.78526	validation_1-auc:0.77146
[45]	validation_0-auc:0.78650	validation_1-auc:0.77258
[46]	validation_0-auc:0.78720	validation_1-auc:0.77319
[47]	validation_0-auc:0.78822	validation_1-auc:0.77407
[48]	validation_0-auc:0.78870	validation_1-auc:0.77445
[49]	validation_0-auc:0.78923	validation_1-auc:0.77495
[50]	validation_0-auc:0.78995	validation_1-auc:0.77568
[51]	validation_0-auc:0.79090	validation_1-auc:0.77650
[52]	validation_0-auc:0.79200	validation_1-auc:0.77760
[53]	validation_0-auc:0.79364	validation_1-auc:0.77880
[54]	validation_0-auc:0.79383	validation_1-auc:0.77902
[55]	validation_0-auc:0.79479	validation_1-auc:0.78001
[56]	validation_0-auc:0.79521	validation_1-auc:0.78036
[57]	validation_0-auc:0.79551	validation_1-auc:0.78065
[58]	validation_0-auc:0.79597	validation_1-auc:0.78125
[59]	validation_0-auc:0.79628	validation_1-auc:0.78161
[60]	validation_0-auc:0.79724	validation_1-auc:0.78246
[61]	validation_0-auc:0.79836	validation_1-auc:0.78325
[62]	validation_0-auc:0.79878	validation_1-auc:0.78361
[63]	validation_0-auc:0.79911	validation_1-auc:0.78393
[64]	validation_0-auc:0.79994	validation_1-auc:0.78464
[65]	validation_0-auc:0.80020	validation_1-auc:0.78491
[66]	validation_0-auc:0.80046	validation_1-auc:0.78525
[67]	validation_0-auc:0.80118	validation_1-auc:0.78581
[68]	validation_0-auc:0.80182	validation_1-auc:0.78630
[69]	validation_0-auc:0.80245	validation_1-auc:0.78706
[70]	validation_0-auc:0.80324	validation_1-auc:0.78785
[71]	validation_0-auc:0.80409	validation_1-auc:0.78863
[72]	validation_0-auc:0.80484	validation_1-auc:0.78932
[73]	validation_0-auc:0.80513	validation_1-auc:0.78955
[74]	validation_0-auc:0.80562	validation_1-auc:0.79000
[75]	validation_0-auc:0.80577	validation_1-auc:0.79016
[76]	validation_0-auc:0.80621	validation_1-auc:0.79057
[77]	validation_0-auc:0.80645	validation_1-auc:0.79071
[78]	validation_0-auc:0.80664	validation_1-auc:0.79088
[79]	validation_0-auc:0.80748	validation_1-auc:0.79154
[80]	validation_0-auc:0.80824	validation_1-auc:0.79238
[81]	validation_0-auc:0.80887	validation_1-auc:0.79287
[82]	validation_0-auc:0.80905	validation_1-auc:0.79315
[83]	validation_0-auc:0.80980	validation_1-auc:0.79374
[84]	validation_0-auc:0.81050	validation_1-auc:0.79449
[85]	validation_0-auc:0.81111	validation_1-auc:0.79504
[86]	validation_0-auc:0.81141	validation_1-auc:0.79527
[87]	validation_0-auc:0.81212	validation_1-auc:0.79581
[88]	validation_0-auc:0.81257	validation_1-auc:0.79634
[89]	validation_0-auc:0.81316	validation_1-auc:0.79686
[90]	validation_0-auc:0.81343	validation_1-auc:0.79718
[91]	validation_0-auc:0.81385	validation_1-auc:0.79753
[92]	validation_0-auc:0.81446	validation_1-auc:0.79813
[93]	validation_0-auc:0.81470	validation_1-auc:0.79836
[94]	validation_0-auc:0.81557	validation_1-auc:0.79896
[95]	validation_0-auc:0.81665	validation_1-auc:0.79985
[96]	validation_0-auc:0.81699	validation_1-auc:0.80019
[97]	validation_0-auc:0.81726	validation_1-auc:0.80049
[98]	validation_0-auc:0.81788	validation_1-auc:0.80093
[99]	validation_0-auc:0.81827	validation_1-auc:0.80121
[100]	validation_0-auc:0.81874	validation_1-auc:0.80160
[101]	validation_0-auc:0.81902	validation_1-auc:0.80183
[102]	validation_0-auc:0.81944	validation_1-auc:0.80222
[103]	validation_0-auc:0.81968	validation_1-auc:0.80250
[104]	validation_0-auc:0.82015	validation_1-auc:0.80292
[105]	validation_0-auc:0.82040	validation_1-auc:0.80302
[106]	validation_0-auc:0.82080	validation_1-auc:0.80331
[107]	validation_0-auc:0.82093	validation_1-auc:0.80342
[108]	validation_0-auc:0.82129	validation_1-auc:0.80363
[109]	validation_0-auc:0.82168	validation_1-auc:0.80403
[110]	validation_0-auc:0.82214	validation_1-auc:0.80438
[111]	validation_0-auc:0.82258	validation_1-auc:0.80475
[112]	validation_0-auc:0.82323	validation_1-auc:0.80534
[113]	validation_0-auc:0.82388	validation_1-auc:0.80594
[114]	validation_0-auc:0.82410	validation_1-auc:0.80617
[115]	validation_0-auc:0.82442	validation_1-auc:0.80647
[116]	validation_0-auc:0.82493	validation_1-auc:0.80673
[117]	validation_0-auc:0.82538	validation_1-auc:0.80710
[118]	validation_0-auc:0.82577	validation_1-auc:0.80747
[119]	validation_0-auc:0.82621	validation_1-auc:0.80781
[120]	validation_0-auc:0.82666	validation_1-auc:0.80819
[121]	validation_0-auc:0.82684	validation_1-auc:0.80836
[122]	validation_0-auc:0.82701	validation_1-auc:0.80847
[123]	validation_0-auc:0.82737	validation_1-auc:0.80885
[124]	validation_0-auc:0.82790	validation_1-auc:0.80928
[125]	validation_0-auc:0.82821	validation_1-auc:0.80961
[126]	validation_0-auc:0.82870	validation_1-auc:0.81004
[127]	validation_0-auc:0.82908	validation_1-auc:0.81043
[128]	validation_0-auc:0.82930	validation_1-auc:0.81061
[129]	validation_0-auc:0.82966	validation_1-auc:0.81089
[130]	validation_0-auc:0.83000	validation_1-auc:0.81124
[131]	validation_0-auc:0.83042	validation_1-auc:0.81154
[132]	validation_0-auc:0.83048	validation_1-auc:0.81157
[133]	validation_0-auc:0.83091	validation_1-auc:0.81189
[134]	validation_0-auc:0.83120	validation_1-auc:0.81219
[135]	validation_0-auc:0.83145	validation_1-auc:0.81239
[136]	validation_0-auc:0.83187	validation_1-auc:0.81282
[137]	validation_0-auc:0.83227	validation_1-auc:0.81289
[138]	validation_0-auc:0.83247	validation_1-auc:0.81303
[139]	validation_0-auc:0.83278	validation_1-auc:0.81323
[140]	validation_0-auc:0.83304	validation_1-auc:0.81347
[141]	validation_0-auc:0.83322	validation_1-auc:0.81364
[142]	validation_0-auc:0.83343	validation_1-auc:0.81372
[143]	validation_0-auc:0.83368	validation_1-auc:0.81391
[144]	validation_0-auc:0.83413	validation_1-auc:0.81418
[145]	validation_0-auc:0.83424	validation_1-auc:0.81426
[146]	validation_0-auc:0.83469	validation_1-auc:0.81451
[147]	validation_0-auc:0.83480	validation_1-auc:0.81459

[148]	validation_0-auc:0.83519	validation_1-auc:0.81483
[149]	validation_0-auc:0.83549	validation_1-auc:0.81510
[150]	validation_0-auc:0.83589	validation_1-auc:0.81546
[151]	validation_0-auc:0.83620	validation_1-auc:0.81578
[152]	validation_0-auc:0.83660	validation_1-auc:0.81610
[153]	validation_0-auc:0.83697	validation_1-auc:0.81640
[154]	validation_0-auc:0.83716	validation_1-auc:0.81652
[155]	validation_0-auc:0.83739	validation_1-auc:0.81665
[156]	validation_0-auc:0.83776	validation_1-auc:0.81704
[157]	validation_0-auc:0.83789	validation_1-auc:0.81720
[158]	validation_0-auc:0.83795	validation_1-auc:0.81725
[159]	validation_0-auc:0.83818	validation_1-auc:0.81735
[160]	validation_0-auc:0.83839	validation_1-auc:0.81754
[161]	validation_0-auc:0.83872	validation_1-auc:0.81779
[162]	validation_0-auc:0.83915	validation_1-auc:0.81814
[163]	validation_0-auc:0.83939	validation_1-auc:0.81832
[164]	validation_0-auc:0.83955	validation_1-auc:0.81846
[165]	validation_0-auc:0.83982	validation_1-auc:0.81874
[166]	validation_0-auc:0.84004	validation_1-auc:0.81889
[167]	validation_0-auc:0.84039	validation_1-auc:0.81913
[168]	validation_0-auc:0.84079	validation_1-auc:0.81941
[169]	validation_0-auc:0.84103	validation_1-auc:0.81963
[170]	validation_0-auc:0.84123	validation_1-auc:0.81980
[171]	validation_0-auc:0.84152	validation_1-auc:0.82012
[172]	validation_0-auc:0.84186	validation_1-auc:0.82037
[173]	validation_0-auc:0.84207	validation_1-auc:0.82045
[174]	validation_0-auc:0.84232	validation_1-auc:0.82058
[175]	validation_0-auc:0.84278	validation_1-auc:0.82098
[176]	validation_0-auc:0.84301	validation_1-auc:0.82120
[177]	validation_0-auc:0.84311	validation_1-auc:0.82130
[178]	validation_0-auc:0.84351	validation_1-auc:0.82164
[179]	validation_0-auc:0.84359	validation_1-auc:0.82173
[180]	validation_0-auc:0.84383	validation_1-auc:0.82194
[181]	validation_0-auc:0.84424	validation_1-auc:0.82231
[182]	validation_0-auc:0.84452	validation_1-auc:0.82259
[183]	validation_0-auc:0.84490	validation_1-auc:0.82297
[184]	validation_0-auc:0.84556	validation_1-auc:0.82354
[185]	validation_0-auc:0.84569	validation_1-auc:0.82367
[186]	validation_0-auc:0.84594	validation_1-auc:0.82392
[187]	validation_0-auc:0.84621	validation_1-auc:0.82415
[188]	validation_0-auc:0.84628	validation_1-auc:0.82419
[189]	validation_0-auc:0.84652	validation_1-auc:0.82435
[190]	validation_0-auc:0.84693	validation_1-auc:0.82473
[191]	validation_0-auc:0.84713	validation_1-auc:0.82497
[192]	validation_0-auc:0.84748	validation_1-auc:0.82528
[193]	validation_0-auc:0.84769	validation_1-auc:0.82546
[194]	validation_0-auc:0.84805	validation_1-auc:0.82567
[195]	validation_0-auc:0.84856	validation_1-auc:0.82614
[196]	validation_0-auc:0.84881	validation_1-auc:0.82633
[197]	validation_0-auc:0.84909	validation_1-auc:0.82656
[198]	validation_0-auc:0.84954	validation_1-auc:0.82695
[199]	validation_0-auc:0.84973	validation_1-auc:0.82719
[200]	validation_0-auc:0.85011	validation_1-auc:0.82753
[201]	validation_0-auc:0.85025	validation_1-auc:0.82760
[202]	validation_0-auc:0.85041	validation_1-auc:0.82772
[203]	validation_0-auc:0.85059	validation_1-auc:0.82778
[204]	validation_0-auc:0.85078	validation_1-auc:0.82800
[205]	validation_0-auc:0.85101	validation_1-auc:0.82820
[206]	validation_0-auc:0.85123	validation_1-auc:0.82839
[207]	validation_0-auc:0.85139	validation_1-auc:0.82845
[208]	validation_0-auc:0.85169	validation_1-auc:0.82861
[209]	validation_0-auc:0.85186	validation_1-auc:0.82865
[210]	validation_0-auc:0.85202	validation_1-auc:0.82879
[211]	validation_0-auc:0.85234	validation_1-auc:0.82913
[212]	validation_0-auc:0.85266	validation_1-auc:0.82934
[213]	validation_0-auc:0.85298	validation_1-auc:0.82966
[214]	validation_0-auc:0.85314	validation_1-auc:0.82974
[215]	validation_0-auc:0.85322	validation_1-auc:0.82976
[216]	validation_0-auc:0.85348	validation_1-auc:0.82996
[217]	validation_0-auc:0.85370	validation_1-auc:0.83015
[218]	validation_0-auc:0.85380	validation_1-auc:0.83021
[219]	validation_0-auc:0.85417	validation_1-auc:0.83058
[220]	validation_0-auc:0.85440	validation_1-auc:0.83073
[221]	validation_0-auc:0.85458	validation_1-auc:0.83092
[222]	validation_0-auc:0.85486	validation_1-auc:0.83117
[223]	validation_0-auc:0.85517	validation_1-auc:0.83148
[224]	validation_0-auc:0.85550	validation_1-auc:0.83169
[225]	validation_0-auc:0.85574	validation_1-auc:0.83193
[226]	validation_0-auc:0.85583	validation_1-auc:0.83198
[227]	validation_0-auc:0.85596	validation_1-auc:0.83215
[228]	validation_0-auc:0.85625	validation_1-auc:0.83242
[229]	validation_0-auc:0.85632	validation_1-auc:0.83246
[230]	validation_0-auc:0.85639	validation_1-auc:0.83246
[231]	validation_0-auc:0.85659	validation_1-auc:0.83260
[232]	validation_0-auc:0.85689	validation_1-auc:0.83277
[233]	validation_0-auc:0.85709	validation_1-auc:0.83294
[234]	validation_0-auc:0.85714	validation_1-auc:0.83297
[235]	validation_0-auc:0.85730	validation_1-auc:0.83307
[236]	validation_0-auc:0.85747	validation_1-auc:0.83319
[237]	validation_0-auc:0.85763	validation_1-auc:0.83326
[238]	validation_0-auc:0.85781	validation_1-auc:0.83340
[239]	validation_0-auc:0.85832	validation_1-auc:0.83388
[240]	validation_0-auc:0.85842	validation_1-auc:0.83405
[241]	validation_0-auc:0.85888	validation_1-auc:0.83445
[242]	validation_0-auc:0.85912	validation_1-auc:0.83460
[243]	validation_0-auc:0.85936	validation_1-auc:0.83477
[244]	validation_0-auc:0.85938	validation_1-auc:0.83477
[245]	validation_0-auc:0.85952	validation_1-auc:0.83480
[246]	validation_0-auc:0.85996	validation_1-auc:0.83511
[247]	validation_0-auc:0.86010	validation_1-auc:0.83516
[248]	validation_0-auc:0.86018	validation_1-auc:0.83520
[249]	validation_0-auc:0.86053	validation_1-auc:0.83549
[250]	validation_0-auc:0.86085	validation_1-auc:0.83572
[251]	validation_0-auc:0.86111	validation_1-auc:0.83594
[252]	validation_0-auc:0.86120	validation_1-auc:0.83600
[253]	validation_0-auc:0.86148	validation_1-auc:0.83617
[254]	validation_0-auc:0.86170	validation_1-auc:0.83635
[255]	validation_0-auc:0.86195	validation_1-auc:0.83657
[256]	validation_0-auc:0.86225	validation_1-auc:0.83680
[257]	validation_0-auc:0.86254	validation_1-auc:0.83695
[258]	validation_0-auc:0.86269	validation_1-auc:0.83714
[259]	validation_0-auc:0.86296	validation_1-auc:0.83737
[260]	validation_0-auc:0.86316	validation_1-auc:0.83757
[261]	validation_0-auc:0.86366	validation_1-auc:0.83809
[262]	validation_0-auc:0.86383	validation_1-auc:0.83831
[263]	validation_0-auc:0.86397	validation_1-auc:0.83844
[264]	validation_0-auc:0.86423	validation_1-auc:0.83866
[265]	validation_0-auc:0.86435	validation_1-auc:0.83876
[266]	validation_0-auc:0.86458	validation_1-auc:0.83897
[267]	validation_0-auc:0.86480	validation_1-auc:0.83915
[268]	validation_0-auc:0.86501	validation_1-auc:0.83935
[269]	validation_0-auc:0.86525	validation_1-auc:0.83953
[270]	validation_0-auc:0.86530	validation_1-auc:0.83956
[271]	validation_0-auc:0.86544	validation_1-auc:0.83966
[272]	validation_0-auc:0.86561	validation_1-auc:0.83981
[273]	validation_0-auc:0.86564	validation_1-auc:0.83985
[274]	validation_0-auc:0.86586	validation_1-auc:0.83998
[275]	validation_0-auc:0.86616	validation_1-auc:0.84013
[276]	validation_0-auc:0.86644	validation_1-auc:0.84039
[277]	validation_0-auc:0.86660	validation_1-auc:0.84049
[278]	validation_0-auc:0.86672	validation_1-auc:0.84052
[279]	validation_0-auc:0.86686	validation_1-auc:0.84065
[280]	validation_0-auc:0.86702	validation_1-auc:0.84079
[281]	validation_0-auc:0.86712	validation_1-auc:0.84084
[282]	validation_0-auc:0.86731	validation_1-auc:0.84095
[283]	validation_0-auc:0.86745	validation_1-auc:0.84109
[284]	validation_0-auc:0.86756	validation_1-auc:0.84115
[285]	validation_0-auc:0.86767	validation_1-auc:0.84123
[286]	validation_0-auc:0.86790	validation_1-auc:0.84140
[287]	validation_0-auc:0.86813	validation_1-auc:0.84156
[288]	validation_0-auc:0.86822	validation_1-auc:0.84164
[289]	validation_0-auc:0.86823	validation_1-auc:0.84164
[290]	validation_0-auc:0.86831	validation_1-auc:0.84171
[291]	validation_0-auc:0.86854	validation_1-auc:0.84192
[292]	validation_0-auc:0.86875	validation_1-auc:0.84200
[293]	validation_0-auc:0.86900	validation_1-auc:0.84221
[294]	validation_0-auc:0.86934	validation_1-auc:0.84252

[295]	validation_0-auc:0.86938	validation_1-auc:0.84257
[296]	validation_0-auc:0.86967	validation_1-auc:0.84282
[297]	validation_0-auc:0.86998	validation_1-auc:0.84306
[298]	validation_0-auc:0.87008	validation_1-auc:0.84314
[299]	validation_0-auc:0.87018	validation_1-auc:0.84328
[300]	validation_0-auc:0.87027	validation_1-auc:0.84335
[301]	validation_0-auc:0.87042	validation_1-auc:0.84349
[302]	validation_0-auc:0.87056	validation_1-auc:0.84364
[303]	validation_0-auc:0.87086	validation_1-auc:0.84382
[304]	validation_0-auc:0.87118	validation_1-auc:0.84409
[305]	validation_0-auc:0.87129	validation_1-auc:0.84420
[306]	validation_0-auc:0.87137	validation_1-auc:0.84425
[307]	validation_0-auc:0.87165	validation_1-auc:0.84441
[308]	validation_0-auc:0.87191	validation_1-auc:0.84453
[309]	validation_0-auc:0.87199	validation_1-auc:0.84465
[310]	validation_0-auc:0.87216	validation_1-auc:0.84476
[311]	validation_0-auc:0.87221	validation_1-auc:0.84482
[312]	validation_0-auc:0.87245	validation_1-auc:0.84504
[313]	validation_0-auc:0.87258	validation_1-auc:0.84521
[314]	validation_0-auc:0.87270	validation_1-auc:0.84529
[315]	validation_0-auc:0.87296	validation_1-auc:0.84555
[316]	validation_0-auc:0.87315	validation_1-auc:0.84567
[317]	validation_0-auc:0.87323	validation_1-auc:0.84570
[318]	validation_0-auc:0.87337	validation_1-auc:0.84579
[319]	validation_0-auc:0.87357	validation_1-auc:0.84600
[320]	validation_0-auc:0.87396	validation_1-auc:0.84629
[321]	validation_0-auc:0.87430	validation_1-auc:0.84666
[322]	validation_0-auc:0.87454	validation_1-auc:0.84687
[323]	validation_0-auc:0.87478	validation_1-auc:0.84709
[324]	validation_0-auc:0.87499	validation_1-auc:0.84730
[325]	validation_0-auc:0.87517	validation_1-auc:0.84739
[326]	validation_0-auc:0.87532	validation_1-auc:0.84750
[327]	validation_0-auc:0.87539	validation_1-auc:0.84758
[328]	validation_0-auc:0.87562	validation_1-auc:0.84772
[329]	validation_0-auc:0.87569	validation_1-auc:0.84773
[330]	validation_0-auc:0.87580	validation_1-auc:0.84784
[331]	validation_0-auc:0.87585	validation_1-auc:0.84786
[332]	validation_0-auc:0.87600	validation_1-auc:0.84803
[333]	validation_0-auc:0.87615	validation_1-auc:0.84821
[334]	validation_0-auc:0.87616	validation_1-auc:0.84818
[335]	validation_0-auc:0.87638	validation_1-auc:0.84841
[336]	validation_0-auc:0.87661	validation_1-auc:0.84857
[337]	validation_0-auc:0.87695	validation_1-auc:0.84887
[338]	validation_0-auc:0.87725	validation_1-auc:0.84913
[339]	validation_0-auc:0.87741	validation_1-auc:0.84924
[340]	validation_0-auc:0.87781	validation_1-auc:0.84961
[341]	validation_0-auc:0.87808	validation_1-auc:0.84991
[342]	validation_0-auc:0.87819	validation_1-auc:0.84998
[343]	validation_0-auc:0.87831	validation_1-auc:0.85011
[344]	validation_0-auc:0.87843	validation_1-auc:0.85023
[345]	validation_0-auc:0.87863	validation_1-auc:0.85039
[346]	validation_0-auc:0.87874	validation_1-auc:0.85041
[347]	validation_0-auc:0.87878	validation_1-auc:0.85043
[348]	validation_0-auc:0.87891	validation_1-auc:0.85053
[349]	validation_0-auc:0.87911	validation_1-auc:0.85071
[350]	validation_0-auc:0.87935	validation_1-auc:0.85092
[351]	validation_0-auc:0.87948	validation_1-auc:0.85103
[352]	validation_0-auc:0.87963	validation_1-auc:0.85115
[353]	validation_0-auc:0.87976	validation_1-auc:0.85130
[354]	validation_0-auc:0.87999	validation_1-auc:0.85150
[355]	validation_0-auc:0.88011	validation_1-auc:0.85158
[356]	validation_0-auc:0.88021	validation_1-auc:0.85159
[357]	validation_0-auc:0.88034	validation_1-auc:0.85173
[358]	validation_0-auc:0.88058	validation_1-auc:0.85199
[359]	validation_0-auc:0.88065	validation_1-auc:0.85206
[360]	validation_0-auc:0.88066	validation_1-auc:0.85211
[361]	validation_0-auc:0.88079	validation_1-auc:0.85218
[362]	validation_0-auc:0.88093	validation_1-auc:0.85233
[363]	validation_0-auc:0.88105	validation_1-auc:0.85242
[364]	validation_0-auc:0.88113	validation_1-auc:0.85248
[365]	validation_0-auc:0.88125	validation_1-auc:0.85259
[366]	validation_0-auc:0.88139	validation_1-auc:0.85269
[367]	validation_0-auc:0.88155	validation_1-auc:0.85276
[368]	validation_0-auc:0.88175	validation_1-auc:0.85298
[369]	validation_0-auc:0.88199	validation_1-auc:0.85321
[370]	validation_0-auc:0.88207	validation_1-auc:0.85328
[371]	validation_0-auc:0.88231	validation_1-auc:0.85345
[372]	validation_0-auc:0.88242	validation_1-auc:0.85349
[373]	validation_0-auc:0.88248	validation_1-auc:0.85355
[374]	validation_0-auc:0.88254	validation_1-auc:0.85356
[375]	validation_0-auc:0.88263	validation_1-auc:0.85363
[376]	validation_0-auc:0.88270	validation_1-auc:0.85370
[377]	validation_0-auc:0.88284	validation_1-auc:0.85387
[378]	validation_0-auc:0.88293	validation_1-auc:0.85394
[379]	validation_0-auc:0.88295	validation_1-auc:0.85393
[380]	validation_0-auc:0.88305	validation_1-auc:0.85404
[381]	validation_0-auc:0.88334	validation_1-auc:0.85429
[382]	validation_0-auc:0.88360	validation_1-auc:0.85447
[383]	validation_0-auc:0.88382	validation_1-auc:0.85464
[384]	validation_0-auc:0.88394	validation_1-auc:0.85473
[385]	validation_0-auc:0.88416	validation_1-auc:0.85487
[386]	validation_0-auc:0.88440	validation_1-auc:0.85503
[387]	validation_0-auc:0.88471	validation_1-auc:0.85531
[388]	validation_0-auc:0.88476	validation_1-auc:0.85530
[389]	validation_0-auc:0.88477	validation_1-auc:0.85529
[390]	validation_0-auc:0.88475	validation_1-auc:0.85526
[391]	validation_0-auc:0.88490	validation_1-auc:0.85535
[392]	validation_0-auc:0.88510	validation_1-auc:0.85546
[393]	validation_0-auc:0.88533	validation_1-auc:0.85565
[394]	validation_0-auc:0.88553	validation_1-auc:0.85587
[395]	validation_0-auc:0.88567	validation_1-auc:0.85598
[396]	validation_0-auc:0.88604	validation_1-auc:0.85627
[397]	validation_0-auc:0.88616	validation_1-auc:0.85634
[398]	validation_0-auc:0.88632	validation_1-auc:0.85649
[399]	validation_0-auc:0.88650	validation_1-auc:0.85661
[400]	validation_0-auc:0.88667	validation_1-auc:0.85681
[401]	validation_0-auc:0.88688	validation_1-auc:0.85698
[402]	validation_0-auc:0.88690	validation_1-auc:0.85699
[403]	validation_0-auc:0.88703	validation_1-auc:0.85715
[404]	validation_0-auc:0.88726	validation_1-auc:0.85740
[405]	validation_0-auc:0.88746	validation_1-auc:0.85754
[406]	validation_0-auc:0.88756	validation_1-auc:0.85757
[407]	validation_0-auc:0.88780	validation_1-auc:0.85784
[408]	validation_0-auc:0.88793	validation_1-auc:0.85798
[409]	validation_0-auc:0.88808	validation_1-auc:0.85809
[410]	validation_0-auc:0.88811	validation_1-auc:0.85805
[411]	validation_0-auc:0.88831	validation_1-auc:0.85822
[412]	validation_0-auc:0.88838	validation_1-auc:0.85823
[413]	validation_0-auc:0.88857	validation_1-auc:0.85838
[414]	validation_0-auc:0.88868	validation_1-auc:0.85843
[415]	validation_0-auc:0.88880	validation_1-auc:0.85858
[416]	validation_0-auc:0.88901	validation_1-auc:0.85879
[417]	validation_0-auc:0.88918	validation_1-auc:0.85891
[418]	validation_0-auc:0.88935	validation_1-auc:0.85909
[419]	validation_0-auc:0.88953	validation_1-auc:0.85918
[420]	validation_0-auc:0.88967	validation_1-auc:0.85925
[421]	validation_0-auc:0.88985	validation_1-auc:0.85943
[422]	validation_0-auc:0.88990	validation_1-auc:0.85943
[423]	validation_0-auc:0.89009	validation_1-auc:0.85959
[424]	validation_0-auc:0.89018	validation_1-auc:0.85961
[425]	validation_0-auc:0.89024	validation_1-auc:0.85967
[426]	validation_0-auc:0.89041	validation_1-auc:0.85980
[427]	validation_0-auc:0.89055	validation_1-auc:0.85994
[428]	validation_0-auc:0.89072	validation_1-auc:0.86010
[429]	validation_0-auc:0.89094	validation_1-auc:0.86027
[430]	validation_0-auc:0.89106	validation_1-auc:0.86031
[431]	validation_0-auc:0.89128	validation_1-auc:0.86044
[432]	validation_0-auc:0.89143	validation_1-auc:0.86061
[433]	validation_0-auc:0.89149	validation_1-auc:0.86062
[434]	validation_0-auc:0.89167	validation_1-auc:0.86077
[435]	validation_0-auc:0.89172	validation_1-auc:0.86081
[436]	validation_0-auc:0.89174	validation_1-auc:0.86081
[437]	validation_0-auc:0.89184	validation_1-auc:0.86089
[438]	validation_0-auc:0.89190	validation_1-auc:0.86094
[439]	validation_0-auc:0.89217	validation_1-auc:0.86112
[440]	validation_0-auc:0.89222	validation_1-auc:0.86115

[441]	validation_0-auc:0.89231	validation_1-auc:0.86126
[442]	validation_0-auc:0.89242	validation_1-auc:0.86137
[443]	validation_0-auc:0.89247	validation_1-auc:0.86142
[444]	validation_0-auc:0.89256	validation_1-auc:0.86146
[445]	validation_0-auc:0.89267	validation_1-auc:0.86152
[446]	validation_0-auc:0.89280	validation_1-auc:0.86162
[447]	validation_0-auc:0.89297	validation_1-auc:0.86176
[448]	validation_0-auc:0.89314	validation_1-auc:0.86195
[449]	validation_0-auc:0.89321	validation_1-auc:0.86198
[450]	validation_0-auc:0.89325	validation_1-auc:0.86197
[451]	validation_0-auc:0.89343	validation_1-auc:0.86217
[452]	validation_0-auc:0.89352	validation_1-auc:0.86217
[453]	validation_0-auc:0.89367	validation_1-auc:0.86230
[454]	validation_0-auc:0.89376	validation_1-auc:0.86241
[455]	validation_0-auc:0.89383	validation_1-auc:0.86251
[456]	validation_0-auc:0.89396	validation_1-auc:0.86255
[457]	validation_0-auc:0.89419	validation_1-auc:0.86271
[458]	validation_0-auc:0.89420	validation_1-auc:0.86272
[459]	validation_0-auc:0.89425	validation_1-auc:0.86277
[460]	validation_0-auc:0.89431	validation_1-auc:0.86283
[461]	validation_0-auc:0.89443	validation_1-auc:0.86289
[462]	validation_0-auc:0.89448	validation_1-auc:0.86289
[463]	validation_0-auc:0.89464	validation_1-auc:0.86294
[464]	validation_0-auc:0.89471	validation_1-auc:0.86295
[465]	validation_0-auc:0.89484	validation_1-auc:0.86302
[466]	validation_0-auc:0.89490	validation_1-auc:0.86308
[467]	validation_0-auc:0.89503	validation_1-auc:0.86326
[468]	validation_0-auc:0.89504	validation_1-auc:0.86325
[469]	validation_0-auc:0.89514	validation_1-auc:0.86326
[470]	validation_0-auc:0.89522	validation_1-auc:0.86337
[471]	validation_0-auc:0.89525	validation_1-auc:0.86342
[472]	validation_0-auc:0.89544	validation_1-auc:0.86354
[473]	validation_0-auc:0.89559	validation_1-auc:0.86366
[474]	validation_0-auc:0.89573	validation_1-auc:0.86378
[475]	validation_0-auc:0.89583	validation_1-auc:0.86385
[476]	validation_0-auc:0.89594	validation_1-auc:0.86389
[477]	validation_0-auc:0.89609	validation_1-auc:0.86399
[478]	validation_0-auc:0.89627	validation_1-auc:0.86408
[479]	validation_0-auc:0.89651	validation_1-auc:0.86428
[480]	validation_0-auc:0.89660	validation_1-auc:0.86429
[481]	validation_0-auc:0.89670	validation_1-auc:0.86439
[482]	validation_0-auc:0.89681	validation_1-auc:0.86450
[483]	validation_0-auc:0.89698	validation_1-auc:0.86462
[484]	validation_0-auc:0.89714	validation_1-auc:0.86478
[485]	validation_0-auc:0.89724	validation_1-auc:0.86480
[486]	validation_0-auc:0.89735	validation_1-auc:0.86492
[487]	validation_0-auc:0.89746	validation_1-auc:0.86497
[488]	validation_0-auc:0.89763	validation_1-auc:0.86504
[489]	validation_0-auc:0.89767	validation_1-auc:0.86508
[490]	validation_0-auc:0.89782	validation_1-auc:0.86521
[491]	validation_0-auc:0.89795	validation_1-auc:0.86536
[492]	validation_0-auc:0.89802	validation_1-auc:0.86544
[493]	validation_0-auc:0.89805	validation_1-auc:0.86547
[494]	validation_0-auc:0.89816	validation_1-auc:0.86558
[495]	validation_0-auc:0.89825	validation_1-auc:0.86561
[496]	validation_0-auc:0.89851	validation_1-auc:0.86582
[497]	validation_0-auc:0.89863	validation_1-auc:0.86589
[498]	validation_0-auc:0.89883	validation_1-auc:0.86604
[499]	validation_0-auc:0.89884	validation_1-auc:0.86603
[500]	validation_0-auc:0.89904	validation_1-auc:0.86618
[501]	validation_0-auc:0.89905	validation_1-auc:0.86620
[502]	validation_0-auc:0.89923	validation_1-auc:0.86635
[503]	validation_0-auc:0.89936	validation_1-auc:0.86645
[504]	validation_0-auc:0.89952	validation_1-auc:0.86655
[505]	validation_0-auc:0.89970	validation_1-auc:0.86667
[506]	validation_0-auc:0.89990	validation_1-auc:0.86681
[507]	validation_0-auc:0.90001	validation_1-auc:0.86684
[508]	validation_0-auc:0.90008	validation_1-auc:0.86693
[509]	validation_0-auc:0.90018	validation_1-auc:0.86701
[510]	validation_0-auc:0.90029	validation_1-auc:0.86710
[511]	validation_0-auc:0.90036	validation_1-auc:0.86715
[512]	validation_0-auc:0.90054	validation_1-auc:0.86728
[513]	validation_0-auc:0.90069	validation_1-auc:0.86743
[514]	validation_0-auc:0.90080	validation_1-auc:0.86751
[515]	validation_0-auc:0.90100	validation_1-auc:0.86765
[516]	validation_0-auc:0.90110	validation_1-auc:0.86768
[517]	validation_0-auc:0.90135	validation_1-auc:0.86789
[518]	validation_0-auc:0.90160	validation_1-auc:0.86817
[519]	validation_0-auc:0.90169	validation_1-auc:0.86831
[520]	validation_0-auc:0.90176	validation_1-auc:0.86837
[521]	validation_0-auc:0.90192	validation_1-auc:0.86854
[522]	validation_0-auc:0.90199	validation_1-auc:0.86859
[523]	validation_0-auc:0.90211	validation_1-auc:0.86871
[524]	validation_0-auc:0.90217	validation_1-auc:0.86872
[525]	validation_0-auc:0.90222	validation_1-auc:0.86875
[526]	validation_0-auc:0.90234	validation_1-auc:0.86887
[527]	validation_0-auc:0.90255	validation_1-auc:0.86904
[528]	validation_0-auc:0.90257	validation_1-auc:0.86906
[529]	validation_0-auc:0.90270	validation_1-auc:0.86916
[530]	validation_0-auc:0.90279	validation_1-auc:0.86928
[531]	validation_0-auc:0.90280	validation_1-auc:0.86926
[532]	validation_0-auc:0.90289	validation_1-auc:0.86931
[533]	validation_0-auc:0.90302	validation_1-auc:0.86948
[534]	validation_0-auc:0.90323	validation_1-auc:0.86961
[535]	validation_0-auc:0.90335	validation_1-auc:0.86964
[536]	validation_0-auc:0.90348	validation_1-auc:0.86974
[537]	validation_0-auc:0.90356	validation_1-auc:0.86983
[538]	validation_0-auc:0.90366	validation_1-auc:0.86989
[539]	validation_0-auc:0.90380	validation_1-auc:0.87004
[540]	validation_0-auc:0.90387	validation_1-auc:0.87010
[541]	validation_0-auc:0.90402	validation_1-auc:0.87025
[542]	validation_0-auc:0.90404	validation_1-auc:0.87026
[543]	validation_0-auc:0.90418	validation_1-auc:0.87032
[544]	validation_0-auc:0.90422	validation_1-auc:0.87033
[545]	validation_0-auc:0.90428	validation_1-auc:0.87040
[546]	validation_0-auc:0.90452	validation_1-auc:0.87062
[547]	validation_0-auc:0.90461	validation_1-auc:0.87061
[548]	validation_0-auc:0.90478	validation_1-auc:0.87074
[549]	validation_0-auc:0.90495	validation_1-auc:0.87084
[550]	validation_0-auc:0.90502	validation_1-auc:0.87093
[551]	validation_0-auc:0.90506	validation_1-auc:0.87093
[552]	validation_0-auc:0.90512	validation_1-auc:0.87097
[553]	validation_0-auc:0.90522	validation_1-auc:0.87106
[554]	validation_0-auc:0.90542	validation_1-auc:0.87128
[555]	validation_0-auc:0.90542	validation_1-auc:0.87131
[556]	validation_0-auc:0.90558	validation_1-auc:0.87149
[557]	validation_0-auc:0.90583	validation_1-auc:0.87174
[558]	validation_0-auc:0.90591	validation_1-auc:0.87178
[559]	validation_0-auc:0.90602	validation_1-auc:0.87186
[560]	validation_0-auc:0.90621	validation_1-auc:0.87192
[561]	validation_0-auc:0.90626	validation_1-auc:0.87198
[562]	validation_0-auc:0.90641	validation_1-auc:0.87209
[563]	validation_0-auc:0.90642	validation_1-auc:0.87207
[564]	validation_0-auc:0.90665	validation_1-auc:0.87223
[565]	validation_0-auc:0.90671	validation_1-auc:0.87230
[566]	validation_0-auc:0.90682	validation_1-auc:0.87233
[567]	validation_0-auc:0.90690	validation_1-auc:0.87241
[568]	validation_0-auc:0.90706	validation_1-auc:0.87256
[569]	validation_0-auc:0.90715	validation_1-auc:0.87265
[570]	validation_0-auc:0.90728	validation_1-auc:0.87273
[571]	validation_0-auc:0.90741	validation_1-auc:0.87280
[572]	validation_0-auc:0.90753	validation_1-auc:0.87297
[573]	validation_0-auc:0.90756	validation_1-auc:0.87298
[574]	validation_0-auc:0.90759	validation_1-auc:0.87303
[575]	validation_0-auc:0.90762	validation_1-auc:0.87306
[576]	validation_0-auc:0.90772	validation_1-auc:0.87310
[577]	validation_0-auc:0.90776	validation_1-auc:0.87315
[578]	validation_0-auc:0.90787	validation_1-auc:0.87329
[579]	validation_0-auc:0.90804	validation_1-auc:0.87348
[580]	validation_0-auc:0.90818	validation_1-auc:0.87358
[581]	validation_0-auc:0.90831	validation_1-auc:0.87369
[582]	validation_0-auc:0.90833	validation_1-auc:0.87372
[583]	validation_0-auc:0.90841	validation_1-auc:0.87379
[584]	validation_0-auc:0.90848	validation_1-auc:0.87382
[585]	validation_0-auc:0.90858	validation_1-auc:0.87387
[586]	validation_0-auc:0.90863	validation_1-auc:0.87388
[587]	validation_0-auc:0.90892	validation_1-auc:0.87414

[588]	validation_0-auc:0.90897	validation_1-auc:0.87419
[589]	validation_0-auc:0.90906	validation_1-auc:0.87432
[590]	validation_0-auc:0.90920	validation_1-auc:0.87448
[591]	validation_0-auc:0.90942	validation_1-auc:0.87467
[592]	validation_0-auc:0.90952	validation_1-auc:0.87478
[593]	validation_0-auc:0.90959	validation_1-auc:0.87483
[594]	validation_0-auc:0.90978	validation_1-auc:0.87498
[595]	validation_0-auc:0.90995	validation_1-auc:0.87517
[596]	validation_0-auc:0.91012	validation_1-auc:0.87525
[597]	validation_0-auc:0.91023	validation_1-auc:0.87535
[598]	validation_0-auc:0.91025	validation_1-auc:0.87530
[599]	validation_0-auc:0.91043	validation_1-auc:0.87546
[600]	validation_0-auc:0.91046	validation_1-auc:0.87548
[601]	validation_0-auc:0.91054	validation_1-auc:0.87554
[602]	validation_0-auc:0.91071	validation_1-auc:0.87575
[603]	validation_0-auc:0.91079	validation_1-auc:0.87576
[604]	validation_0-auc:0.91093	validation_1-auc:0.87587
[605]	validation_0-auc:0.91095	validation_1-auc:0.87586
[606]	validation_0-auc:0.91102	validation_1-auc:0.87590
[607]	validation_0-auc:0.91112	validation_1-auc:0.87598
[608]	validation_0-auc:0.91118	validation_1-auc:0.87599
[609]	validation_0-auc:0.91120	validation_1-auc:0.87595
[610]	validation_0-auc:0.91126	validation_1-auc:0.87604
[611]	validation_0-auc:0.91141	validation_1-auc:0.87615
[612]	validation_0-auc:0.91153	validation_1-auc:0.87627
[613]	validation_0-auc:0.91158	validation_1-auc:0.87631
[614]	validation_0-auc:0.91178	validation_1-auc:0.87653
[615]	validation_0-auc:0.91180	validation_1-auc:0.87654
[616]	validation_0-auc:0.91199	validation_1-auc:0.87664
[617]	validation_0-auc:0.91204	validation_1-auc:0.87669
[618]	validation_0-auc:0.91221	validation_1-auc:0.87678
[619]	validation_0-auc:0.91231	validation_1-auc:0.87685
[620]	validation_0-auc:0.91231	validation_1-auc:0.87687
[621]	validation_0-auc:0.91249	validation_1-auc:0.87700
[622]	validation_0-auc:0.91266	validation_1-auc:0.87708
[623]	validation_0-auc:0.91272	validation_1-auc:0.87711
[624]	validation_0-auc:0.91280	validation_1-auc:0.87716
[625]	validation_0-auc:0.91282	validation_1-auc:0.87711
[626]	validation_0-auc:0.91295	validation_1-auc:0.87711
[627]	validation_0-auc:0.91300	validation_1-auc:0.87714
[628]	validation_0-auc:0.91307	validation_1-auc:0.87720
[629]	validation_0-auc:0.91308	validation_1-auc:0.87723
[630]	validation_0-auc:0.91323	validation_1-auc:0.87739
[631]	validation_0-auc:0.91343	validation_1-auc:0.87757
[632]	validation_0-auc:0.91359	validation_1-auc:0.87772
[633]	validation_0-auc:0.91373	validation_1-auc:0.87785
[634]	validation_0-auc:0.91386	validation_1-auc:0.87797
[635]	validation_0-auc:0.91392	validation_1-auc:0.87804
[636]	validation_0-auc:0.91404	validation_1-auc:0.87817
[637]	validation_0-auc:0.91410	validation_1-auc:0.87818
[638]	validation_0-auc:0.91421	validation_1-auc:0.87827
[639]	validation_0-auc:0.91436	validation_1-auc:0.87833
[640]	validation_0-auc:0.91452	validation_1-auc:0.87841
[641]	validation_0-auc:0.91461	validation_1-auc:0.87848
[642]	validation_0-auc:0.91464	validation_1-auc:0.87850
[643]	validation_0-auc:0.91474	validation_1-auc:0.87864
[644]	validation_0-auc:0.91480	validation_1-auc:0.87866
[645]	validation_0-auc:0.91492	validation_1-auc:0.87877
[646]	validation_0-auc:0.91499	validation_1-auc:0.87885
[647]	validation_0-auc:0.91516	validation_1-auc:0.87896
[648]	validation_0-auc:0.91524	validation_1-auc:0.87900
[649]	validation_0-auc:0.91525	validation_1-auc:0.87900
[650]	validation_0-auc:0.91531	validation_1-auc:0.87901
[651]	validation_0-auc:0.91543	validation_1-auc:0.87913
[652]	validation_0-auc:0.91543	validation_1-auc:0.87906
[653]	validation_0-auc:0.91554	validation_1-auc:0.87916
[654]	validation_0-auc:0.91566	validation_1-auc:0.87922
[655]	validation_0-auc:0.91585	validation_1-auc:0.87931
[656]	validation_0-auc:0.91599	validation_1-auc:0.87950
[657]	validation_0-auc:0.91605	validation_1-auc:0.87955
[658]	validation_0-auc:0.91613	validation_1-auc:0.87961
[659]	validation_0-auc:0.91628	validation_1-auc:0.87975
[660]	validation_0-auc:0.91646	validation_1-auc:0.87988
[661]	validation_0-auc:0.91648	validation_1-auc:0.87992
[662]	validation_0-auc:0.91654	validation_1-auc:0.87998
[663]	validation_0-auc:0.91665	validation_1-auc:0.87999
[664]	validation_0-auc:0.91678	validation_1-auc:0.88012
[665]	validation_0-auc:0.91683	validation_1-auc:0.88013
[666]	validation_0-auc:0.91689	validation_1-auc:0.88017
[667]	validation_0-auc:0.91697	validation_1-auc:0.88026
[668]	validation_0-auc:0.91705	validation_1-auc:0.88032
[669]	validation_0-auc:0.91713	validation_1-auc:0.88034
[670]	validation_0-auc:0.91720	validation_1-auc:0.88039
[671]	validation_0-auc:0.91734	validation_1-auc:0.88054
[672]	validation_0-auc:0.91751	validation_1-auc:0.88064
[673]	validation_0-auc:0.91758	validation_1-auc:0.88074
[674]	validation_0-auc:0.91769	validation_1-auc:0.88081
[675]	validation_0-auc:0.91779	validation_1-auc:0.88093
[676]	validation_0-auc:0.91787	validation_1-auc:0.88105
[677]	validation_0-auc:0.91804	validation_1-auc:0.88118
[678]	validation_0-auc:0.91814	validation_1-auc:0.88131
[679]	validation_0-auc:0.91821	validation_1-auc:0.88135
[680]	validation_0-auc:0.91836	validation_1-auc:0.88151
[681]	validation_0-auc:0.91851	validation_1-auc:0.88159
[682]	validation_0-auc:0.91854	validation_1-auc:0.88162
[683]	validation_0-auc:0.91859	validation_1-auc:0.88167
[684]	validation_0-auc:0.91867	validation_1-auc:0.88170
[685]	validation_0-auc:0.91868	validation_1-auc:0.88167
[686]	validation_0-auc:0.91877	validation_1-auc:0.88173
[687]	validation_0-auc:0.91887	validation_1-auc:0.88183
[688]	validation_0-auc:0.91897	validation_1-auc:0.88194
[689]	validation_0-auc:0.91915	validation_1-auc:0.88213
[690]	validation_0-auc:0.91929	validation_1-auc:0.88224
[691]	validation_0-auc:0.91934	validation_1-auc:0.88222
[692]	validation_0-auc:0.91934	validation_1-auc:0.88221
[693]	validation_0-auc:0.91937	validation_1-auc:0.88224
[694]	validation_0-auc:0.91945	validation_1-auc:0.88228
[695]	validation_0-auc:0.91952	validation_1-auc:0.88233
[696]	validation_0-auc:0.91960	validation_1-auc:0.88242
[697]	validation_0-auc:0.91966	validation_1-auc:0.88245
[698]	validation_0-auc:0.91967	validation_1-auc:0.88245
[699]	validation_0-auc:0.91979	validation_1-auc:0.88250
[700]	validation_0-auc:0.91992	validation_1-auc:0.88263
[701]	validation_0-auc:0.92002	validation_1-auc:0.88272
[702]	validation_0-auc:0.92010	validation_1-auc:0.88276
[703]	validation_0-auc:0.92009	validation_1-auc:0.88275
[704]	validation_0-auc:0.92019	validation_1-auc:0.88286
[705]	validation_0-auc:0.92031	validation_1-auc:0.88294
[706]	validation_0-auc:0.92038	validation_1-auc:0.88303
[707]	validation_0-auc:0.92053	validation_1-auc:0.88319
[708]	validation_0-auc:0.92056	validation_1-auc:0.88320
[709]	validation_0-auc:0.92068	validation_1-auc:0.88332
[710]	validation_0-auc:0.92077	validation_1-auc:0.88342
[711]	validation_0-auc:0.92087	validation_1-auc:0.88353
[712]	validation_0-auc:0.92097	validation_1-auc:0.88358
[713]	validation_0-auc:0.92106	validation_1-auc:0.88366
[714]	validation_0-auc:0.92110	validation_1-auc:0.88369
[715]	validation_0-auc:0.92119	validation_1-auc:0.88383
[716]	validation_0-auc:0.92124	validation_1-auc:0.88385
[717]	validation_0-auc:0.92127	validation_1-auc:0.88387
[718]	validation_0-auc:0.92139	validation_1-auc:0.88399
[719]	validation_0-auc:0.92145	validation_1-auc:0.88402
[720]	validation_0-auc:0.92155	validation_1-auc:0.88413
[721]	validation_0-auc:0.92174	validation_1-auc:0.88428
[722]	validation_0-auc:0.92178	validation_1-auc:0.88429
[723]	validation_0-auc:0.92187	validation_1-auc:0.88437
[724]	validation_0-auc:0.92193	validation_1-auc:0.88439
[725]	validation_0-auc:0.92200	validation_1-auc:0.88441
[726]	validation_0-auc:0.92207	validation_1-auc:0.88449
[727]	validation_0-auc:0.92204	validation_1-auc:0.88442
[728]	validation_0-auc:0.92215	validation_1-auc:0.88450
[729]	validation_0-auc:0.92228	validation_1-auc:0.88455
[730]	validation_0-auc:0.92237	validation_1-auc:0.88466
[731]	validation_0-auc:0.92244	validation_1-auc:0.88470
[732]	validation_0-auc:0.92256	validation_1-auc:0.88481
[733]	validation_0-auc:0.92266	validation_1-auc:0.88491

[734]	validation_0-auc:0.92266	validation_1-auc:0.88492
[735]	validation_0-auc:0.92272	validation_1-auc:0.88492
[736]	validation_0-auc:0.92281	validation_1-auc:0.88498
[737]	validation_0-auc:0.92283	validation_1-auc:0.88498
[738]	validation_0-auc:0.92296	validation_1-auc:0.88503
[739]	validation_0-auc:0.92311	validation_1-auc:0.88520
[740]	validation_0-auc:0.92317	validation_1-auc:0.88525
[741]	validation_0-auc:0.92327	validation_1-auc:0.88535
[742]	validation_0-auc:0.92335	validation_1-auc:0.88536
[743]	validation_0-auc:0.92343	validation_1-auc:0.88545
[744]	validation_0-auc:0.92356	validation_1-auc:0.88551
[745]	validation_0-auc:0.92360	validation_1-auc:0.88559
[746]	validation_0-auc:0.92374	validation_1-auc:0.88576
[747]	validation_0-auc:0.92378	validation_1-auc:0.88580
[748]	validation_0-auc:0.92382	validation_1-auc:0.88586
[749]	validation_0-auc:0.92383	validation_1-auc:0.88583
[750]	validation_0-auc:0.92386	validation_1-auc:0.88583
[751]	validation_0-auc:0.92399	validation_1-auc:0.88593
[752]	validation_0-auc:0.92412	validation_1-auc:0.88600
[753]	validation_0-auc:0.92413	validation_1-auc:0.88601
[754]	validation_0-auc:0.92420	validation_1-auc:0.88598
[755]	validation_0-auc:0.92428	validation_1-auc:0.88608
[756]	validation_0-auc:0.92434	validation_1-auc:0.88613
[757]	validation_0-auc:0.92445	validation_1-auc:0.88618
[758]	validation_0-auc:0.92458	validation_1-auc:0.88631
[759]	validation_0-auc:0.92459	validation_1-auc:0.88629
[760]	validation_0-auc:0.92464	validation_1-auc:0.88634
[761]	validation_0-auc:0.92471	validation_1-auc:0.88641
[762]	validation_0-auc:0.92476	validation_1-auc:0.88642
[763]	validation_0-auc:0.92488	validation_1-auc:0.88656
[764]	validation_0-auc:0.92494	validation_1-auc:0.88665
[765]	validation_0-auc:0.92500	validation_1-auc:0.88668
[766]	validation_0-auc:0.92510	validation_1-auc:0.88676
[767]	validation_0-auc:0.92512	validation_1-auc:0.88670
[768]	validation_0-auc:0.92521	validation_1-auc:0.88675
[769]	validation_0-auc:0.92521	validation_1-auc:0.88676
[770]	validation_0-auc:0.92539	validation_1-auc:0.88686
[771]	validation_0-auc:0.92553	validation_1-auc:0.88697
[772]	validation_0-auc:0.92559	validation_1-auc:0.88702
[773]	validation_0-auc:0.92570	validation_1-auc:0.88708
[774]	validation_0-auc:0.92577	validation_1-auc:0.88714
[775]	validation_0-auc:0.92582	validation_1-auc:0.88723
[776]	validation_0-auc:0.92593	validation_1-auc:0.88737
[777]	validation_0-auc:0.92607	validation_1-auc:0.88745
[778]	validation_0-auc:0.92610	validation_1-auc:0.88750
[779]	validation_0-auc:0.92618	validation_1-auc:0.88755
[780]	validation_0-auc:0.92619	validation_1-auc:0.88754
[781]	validation_0-auc:0.92632	validation_1-auc:0.88767
[782]	validation_0-auc:0.92637	validation_1-auc:0.88768
[783]	validation_0-auc:0.92650	validation_1-auc:0.88782
[784]	validation_0-auc:0.92656	validation_1-auc:0.88785
[785]	validation_0-auc:0.92666	validation_1-auc:0.88798
[786]	validation_0-auc:0.92682	validation_1-auc:0.88811
[787]	validation_0-auc:0.92690	validation_1-auc:0.88821
[788]	validation_0-auc:0.92700	validation_1-auc:0.88827
[789]	validation_0-auc:0.92705	validation_1-auc:0.88834
[790]	validation_0-auc:0.92722	validation_1-auc:0.88845
[791]	validation_0-auc:0.92727	validation_1-auc:0.88846
[792]	validation_0-auc:0.92731	validation_1-auc:0.88845
[793]	validation_0-auc:0.92737	validation_1-auc:0.88850
[794]	validation_0-auc:0.92743	validation_1-auc:0.88858
[795]	validation_0-auc:0.92747	validation_1-auc:0.88858
[796]	validation_0-auc:0.92749	validation_1-auc:0.88861
[797]	validation_0-auc:0.92762	validation_1-auc:0.88872
[798]	validation_0-auc:0.92771	validation_1-auc:0.88882
[799]	validation_0-auc:0.92778	validation_1-auc:0.88892
[800]	validation_0-auc:0.92783	validation_1-auc:0.88898
[801]	validation_0-auc:0.92787	validation_1-auc:0.88900
[802]	validation_0-auc:0.92802	validation_1-auc:0.88911
[803]	validation_0-auc:0.92807	validation_1-auc:0.88918
[804]	validation_0-auc:0.92808	validation_1-auc:0.88917
[805]	validation_0-auc:0.92822	validation_1-auc:0.88929
[806]	validation_0-auc:0.92829	validation_1-auc:0.88935
[807]	validation_0-auc:0.92836	validation_1-auc:0.88937
[808]	validation_0-auc:0.92845	validation_1-auc:0.88943
[809]	validation_0-auc:0.92850	validation_1-auc:0.88945
[810]	validation_0-auc:0.92854	validation_1-auc:0.88947
[811]	validation_0-auc:0.92859	validation_1-auc:0.88952
[812]	validation_0-auc:0.92866	validation_1-auc:0.88959
[813]	validation_0-auc:0.92876	validation_1-auc:0.88966
[814]	validation_0-auc:0.92872	validation_1-auc:0.88963
[815]	validation_0-auc:0.92883	validation_1-auc:0.88970
[816]	validation_0-auc:0.92894	validation_1-auc:0.88978
[817]	validation_0-auc:0.92895	validation_1-auc:0.88976
[818]	validation_0-auc:0.92905	validation_1-auc:0.88993
[819]	validation_0-auc:0.92915	validation_1-auc:0.89002
[820]	validation_0-auc:0.92927	validation_1-auc:0.89008
[821]	validation_0-auc:0.92931	validation_1-auc:0.89011
[822]	validation_0-auc:0.92943	validation_1-auc:0.89021
[823]	validation_0-auc:0.92946	validation_1-auc:0.89022
[824]	validation_0-auc:0.92949	validation_1-auc:0.89023
[825]	validation_0-auc:0.92956	validation_1-auc:0.89027
[826]	validation_0-auc:0.92964	validation_1-auc:0.89036
[827]	validation_0-auc:0.92980	validation_1-auc:0.89051
[828]	validation_0-auc:0.92980	validation_1-auc:0.89048
[829]	validation_0-auc:0.92985	validation_1-auc:0.89050
[830]	validation_0-auc:0.92988	validation_1-auc:0.89054
[831]	validation_0-auc:0.93000	validation_1-auc:0.89063
[832]	validation_0-auc:0.93003	validation_1-auc:0.89062
[833]	validation_0-auc:0.93020	validation_1-auc:0.89085
[834]	validation_0-auc:0.93032	validation_1-auc:0.89095
[835]	validation_0-auc:0.93041	validation_1-auc:0.89096
[836]	validation_0-auc:0.93047	validation_1-auc:0.89101
[837]	validation_0-auc:0.93053	validation_1-auc:0.89104
[838]	validation_0-auc:0.93068	validation_1-auc:0.89119
[839]	validation_0-auc:0.93075	validation_1-auc:0.89128
[840]	validation_0-auc:0.93080	validation_1-auc:0.89135
[841]	validation_0-auc:0.93085	validation_1-auc:0.89141
[842]	validation_0-auc:0.93084	validation_1-auc:0.89138
[843]	validation_0-auc:0.93089	validation_1-auc:0.89144
[844]	validation_0-auc:0.93099	validation_1-auc:0.89154
[845]	validation_0-auc:0.93101	validation_1-auc:0.89153
[846]	validation_0-auc:0.93108	validation_1-auc:0.89161
[847]	validation_0-auc:0.93112	validation_1-auc:0.89162
[848]	validation_0-auc:0.93120	validation_1-auc:0.89168
[849]	validation_0-auc:0.93124	validation_1-auc:0.89171
[850]	validation_0-auc:0.93132	validation_1-auc:0.89175
[851]	validation_0-auc:0.93134	validation_1-auc:0.89174
[852]	validation_0-auc:0.93136	validation_1-auc:0.89175
[853]	validation_0-auc:0.93141	validation_1-auc:0.89177
[854]	validation_0-auc:0.93144	validation_1-auc:0.89181
[855]	validation_0-auc:0.93144	validation_1-auc:0.89180
[856]	validation_0-auc:0.93151	validation_1-auc:0.89191
[857]	validation_0-auc:0.93163	validation_1-auc:0.89202
[858]	validation_0-auc:0.93168	validation_1-auc:0.89204
[859]	validation_0-auc:0.93171	validation_1-auc:0.89210
[860]	validation_0-auc:0.93173	validation_1-auc:0.89208
[861]	validation_0-auc:0.93187	validation_1-auc:0.89217
[862]	validation_0-auc:0.93191	validation_1-auc:0.89223
[863]	validation_0-auc:0.93199	validation_1-auc:0.89236
[864]	validation_0-auc:0.93204	validation_1-auc:0.89241
[865]	validation_0-auc:0.93207	validation_1-auc:0.89241
[866]	validation_0-auc:0.93223	validation_1-auc:0.89253
[867]	validation_0-auc:0.93228	validation_1-auc:0.89258
[868]	validation_0-auc:0.93241	validation_1-auc:0.89268
[869]	validation_0-auc:0.93244	validation_1-auc:0.89275
[870]	validation_0-auc:0.93244	validation_1-auc:0.89274
[871]	validation_0-auc:0.93253	validation_1-auc:0.89277
[872]	validation_0-auc:0.93255	validation_1-auc:0.89273
[873]	validation_0-auc:0.93264	validation_1-auc:0.89276
[874]	validation_0-auc:0.93273	validation_1-auc:0.89287
[875]	validation_0-auc:0.93278	validation_1-auc:0.89288
[876]	validation_0-auc:0.93283	validation_1-auc:0.89294
[877]	validation_0-auc:0.93285	validation_1-auc:0.89294
[878]	validation_0-auc:0.93290	validation_1-auc:0.89297
[879]	validation_0-auc:0.93298	validation_1-auc:0.89305

[880]	validation_0-auc:0.93305	validation_1-auc:0.89310
[881]	validation_0-auc:0.93314	validation_1-auc:0.89319
[882]	validation_0-auc:0.93327	validation_1-auc:0.89329
[883]	validation_0-auc:0.93341	validation_1-auc:0.89340
[884]	validation_0-auc:0.93342	validation_1-auc:0.89340
[885]	validation_0-auc:0.93347	validation_1-auc:0.89347
[886]	validation_0-auc:0.93352	validation_1-auc:0.89353
[887]	validation_0-auc:0.93362	validation_1-auc:0.89357
[888]	validation_0-auc:0.93367	validation_1-auc:0.89363
[889]	validation_0-auc:0.93370	validation_1-auc:0.89362
[890]	validation_0-auc:0.93376	validation_1-auc:0.89370
[891]	validation_0-auc:0.93378	validation_1-auc:0.89367
[892]	validation_0-auc:0.93388	validation_1-auc:0.89376
[893]	validation_0-auc:0.93392	validation_1-auc:0.89377
[894]	validation_0-auc:0.93397	validation_1-auc:0.89378
[895]	validation_0-auc:0.93403	validation_1-auc:0.89389
[896]	validation_0-auc:0.93408	validation_1-auc:0.89399
[897]	validation_0-auc:0.93411	validation_1-auc:0.89401
[898]	validation_0-auc:0.93423	validation_1-auc:0.89412
[899]	validation_0-auc:0.93432	validation_1-auc:0.89420
[900]	validation_0-auc:0.93433	validation_1-auc:0.89422
[901]	validation_0-auc:0.93439	validation_1-auc:0.89423
[902]	validation_0-auc:0.93439	validation_1-auc:0.89423
[903]	validation_0-auc:0.93451	validation_1-auc:0.89437
[904]	validation_0-auc:0.93451	validation_1-auc:0.89438
[905]	validation_0-auc:0.93459	validation_1-auc:0.89442
[906]	validation_0-auc:0.93460	validation_1-auc:0.89438
[907]	validation_0-auc:0.93469	validation_1-auc:0.89449
[908]	validation_0-auc:0.93472	validation_1-auc:0.89449
[909]	validation_0-auc:0.93485	validation_1-auc:0.89461
[910]	validation_0-auc:0.93492	validation_1-auc:0.89465
[911]	validation_0-auc:0.93500	validation_1-auc:0.89473
[912]	validation_0-auc:0.93502	validation_1-auc:0.89474
[913]	validation_0-auc:0.93512	validation_1-auc:0.89484
[914]	validation_0-auc:0.93518	validation_1-auc:0.89487
[915]	validation_0-auc:0.93527	validation_1-auc:0.89497
[916]	validation_0-auc:0.93528	validation_1-auc:0.89491
[917]	validation_0-auc:0.93543	validation_1-auc:0.89504
[918]	validation_0-auc:0.93549	validation_1-auc:0.89510
[919]	validation_0-auc:0.93558	validation_1-auc:0.89515
[920]	validation_0-auc:0.93570	validation_1-auc:0.89527
[921]	validation_0-auc:0.93576	validation_1-auc:0.89530
[922]	validation_0-auc:0.93585	validation_1-auc:0.89536
[923]	validation_0-auc:0.93588	validation_1-auc:0.89537
[924]	validation_0-auc:0.93590	validation_1-auc:0.89542
[925]	validation_0-auc:0.93601	validation_1-auc:0.89554
[926]	validation_0-auc:0.93605	validation_1-auc:0.89555
[927]	validation_0-auc:0.93612	validation_1-auc:0.89557
[928]	validation_0-auc:0.93619	validation_1-auc:0.89564
[929]	validation_0-auc:0.93622	validation_1-auc:0.89566
[930]	validation_0-auc:0.93631	validation_1-auc:0.89574
[931]	validation_0-auc:0.93633	validation_1-auc:0.89577
[932]	validation_0-auc:0.93638	validation_1-auc:0.89582
[933]	validation_0-auc:0.93640	validation_1-auc:0.89584
[934]	validation_0-auc:0.93644	validation_1-auc:0.89587
[935]	validation_0-auc:0.93643	validation_1-auc:0.89585
[936]	validation_0-auc:0.93654	validation_1-auc:0.89594
[937]	validation_0-auc:0.93656	validation_1-auc:0.89597
[938]	validation_0-auc:0.93661	validation_1-auc:0.89601
[939]	validation_0-auc:0.93663	validation_1-auc:0.89599
[940]	validation_0-auc:0.93672	validation_1-auc:0.89607
[941]	validation_0-auc:0.93676	validation_1-auc:0.89608
[942]	validation_0-auc:0.93679	validation_1-auc:0.89609
[943]	validation_0-auc:0.93689	validation_1-auc:0.89618
[944]	validation_0-auc:0.93694	validation_1-auc:0.89624
[945]	validation_0-auc:0.93697	validation_1-auc:0.89628
[946]	validation_0-auc:0.93703	validation_1-auc:0.89631
[947]	validation_0-auc:0.93710	validation_1-auc:0.89640
[948]	validation_0-auc:0.93710	validation_1-auc:0.89642
[949]	validation_0-auc:0.93717	validation_1-auc:0.89646
[950]	validation_0-auc:0.93731	validation_1-auc:0.89662
[951]	validation_0-auc:0.93736	validation_1-auc:0.89666
[952]	validation_0-auc:0.93746	validation_1-auc:0.89675
[953]	validation_0-auc:0.93758	validation_1-auc:0.89687
[954]	validation_0-auc:0.93765	validation_1-auc:0.89690
[955]	validation_0-auc:0.93766	validation_1-auc:0.89689
[956]	validation_0-auc:0.93768	validation_1-auc:0.89690
[957]	validation_0-auc:0.93771	validation_1-auc:0.89691
[958]	validation_0-auc:0.93771	validation_1-auc:0.89691
[959]	validation_0-auc:0.93775	validation_1-auc:0.89696
[960]	validation_0-auc:0.93779	validation_1-auc:0.89701
[961]	validation_0-auc:0.93786	validation_1-auc:0.89704
[962]	validation_0-auc:0.93791	validation_1-auc:0.89706
[963]	validation_0-auc:0.93797	validation_1-auc:0.89711
[964]	validation_0-auc:0.93810	validation_1-auc:0.89720
[965]	validation_0-auc:0.93809	validation_1-auc:0.89720
[966]	validation_0-auc:0.93815	validation_1-auc:0.89726
[967]	validation_0-auc:0.93818	validation_1-auc:0.89726
[968]	validation_0-auc:0.93819	validation_1-auc:0.89727
[969]	validation_0-auc:0.93824	validation_1-auc:0.89735
[970]	validation_0-auc:0.93829	validation_1-auc:0.89742
[971]	validation_0-auc:0.93829	validation_1-auc:0.89742
[972]	validation_0-auc:0.93831	validation_1-auc:0.89739
[973]	validation_0-auc:0.93838	validation_1-auc:0.89746
[974]	validation_0-auc:0.93844	validation_1-auc:0.89751
[975]	validation_0-auc:0.93845	validation_1-auc:0.89753
[976]	validation_0-auc:0.93842	validation_1-auc:0.89752
[977]	validation_0-auc:0.93843	validation_1-auc:0.89750
[978]	validation_0-auc:0.93843	validation_1-auc:0.89750
[979]	validation_0-auc:0.93846	validation_1-auc:0.89748
[980]	validation_0-auc:0.93850	validation_1-auc:0.89751
[981]	validation_0-auc:0.93857	validation_1-auc:0.89753
[982]	validation_0-auc:0.93864	validation_1-auc:0.89755
[983]	validation_0-auc:0.93866	validation_1-auc:0.89755
[984]	validation_0-auc:0.93872	validation_1-auc:0.89763
[985]	validation_0-auc:0.93881	validation_1-auc:0.89764
[986]	validation_0-auc:0.93883	validation_1-auc:0.89764
[987]	validation_0-auc:0.93892	validation_1-auc:0.89775
[988]	validation_0-auc:0.93893	validation_1-auc:0.89775
[989]	validation_0-auc:0.93906	validation_1-auc:0.89782
[990]	validation_0-auc:0.93913	validation_1-auc:0.89790
[991]	validation_0-auc:0.93917	validation_1-auc:0.89794
[992]	validation_0-auc:0.93927	validation_1-auc:0.89803
[993]	validation_0-auc:0.93929	validation_1-auc:0.89804
[994]	validation_0-auc:0.93934	validation_1-auc:0.89809
[995]	validation_0-auc:0.93945	validation_1-auc:0.89815
[996]	validation_0-auc:0.93952	validation_1-auc:0.89824
[997]	validation_0-auc:0.93958	validation_1-auc:0.89832
[998]	validation_0-auc:0.93961	validation_1-auc:0.89830
[999]	validation_0-auc:0.93966	validation_1-auc:0.89835
0.898348

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.75, eta=0.1, gamma=0,
              gpu_id=0, importance_type='gain', interaction_constraints='',
              learning_rate=0.100000001, max_delta_step=0, max_depth=12,
              min_child_weight=200, missing=nan, monotone_constraints='()',
              n_estimators=1000, n_jobs=16, num_parallel_tree=1,
              random_state=2021, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=2021, subsample=0.8, tree_method='gpu_hist',
              validate_parameters=1, verbosity=None)

In [77]:
# pred = pd.read_csv(r"C:\Users\Superstar\Desktop\sample_submission.csv")
# pred.rename(columns={1:'seller_id'},inplace = True)
# pred['prob'] =

In [78]:
predict

        user_id  seller_id  prob
0        163968       4605   0.5
1        360576       1581   0.5
2         98688       1964   0.5
3         98688       3645   0.5
4        295296       3361   0.5
...         ...        ...   ...
261472   228479       3111   0.5
261473    97919       2341   0.5
261474    97919       3971   0.5
261475    32639       3536   0.5
261476    32639       3319   0.5

[261477 rows x 3 columns]

In [79]:
x

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,age_0.0,...,brand_number_3,seller_action_0,seller_action_1,seller_action_2,seller_action_3,total_action_seller,item_num_seller,cat_num_seller,brand_num_seller,time_num_seller
0,127994,470444,748,1102,1214,1031,0,0,0,1,...,0.0,147988,121,7064,13522,169797,3426,37,2,185
1,246788,732624,1181,4729,843,1106,3,5,0,0,...,1.0,2983,8,146,177,8043,495,33,2,160
2,216253,476470,1095,4219,6887,1106,0,3,0,0,...,1.0,1873,7,211,168,6478,262,8,2,167
3,219676,259310,1467,3578,3091,1101,0,6,0,0,...,1.0,19643,51,2637,1649,27558,601,6,2,182
4,384784,533925,1553,3828,1446,1025,3,2,0,0,...,1.0,205935,422,9887,16325,236397,4209,53,2,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534590,120564,272027,662,4044,82,914,0,2,0,0,...,0.0,160313,278,8683,13923,187241,1791,27,2,185
534591,423498,246330,662,3958,4248,1111,0,3,0,0,...,0.0,6332,10,376,563,11239,399,18,2,183
534592,329435,601604,154,1102,1214,1108,0,6,2,0,...,0.0,147988,121,7064,13522,169797,3426,37,2,185
534593,311665,945652,602,2664,8154,1111,2,0,0,1,...,0.0,23220,49,2892,834,29659,670,17,2,184
534594,112008,47060,664,1131,2350,1019,3,3,2,0,...,1.0,14409,38,1297,1179,18054,198,31,2,184

In [80]:
test.isnull().sum()

user_id        0
item_id        0
cat_id         0
seller_id      0
brand_id       0
time_stamp     0
action_type    0
dtype: int64

In [81]:
test = pd.merge(predict,x,how='left',on=['user_id','seller_id'])
test

,user_id,seller_id,prob,item_id,cat_id,brand_id,time_stamp,action_type,age_range,gender,...,brand_number_3,seller_action_0,seller_action_1,seller_action_2,seller_action_3,total_action_seller,item_num_seller,cat_num_seller,brand_num_seller,time_num_seller
0,163968,4605,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360576,1581,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,98688,1964,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,98688,3645,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,295296,3361,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261472,228479,3111,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261473,97919,2341,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261474,97919,3971,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261475,32639,3536,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261476,32639,3319,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN